<div id="better-u-lessons-started" class="pt-2">
  <div class="media">
    <div class="media-body">
      <span><%= image_tag 'better-u-logo.png', class: 'align-middle', alt: 'Better U Logo', style: 'width: 4rem; height: auto;' %></span>
      <span class="pb-2 lead">
        <% if(!current_user.course_enrollments.better_u.started.empty?) %>
          Continue learning by clicking on the lesson's title or image.
        <% else %>
          You are not currently enrolled in any Better U lessons.  Why not <%= link_to("start a lesson now", launch_module_path(find_next_lesson(LearningModules::BETTER_U)) , data: { vbtype: "iframe", autoplay: true }, class: "venobox") %>?
        <% end %>
      </span>
    </div>
  </div>

  <div class="pt-3 better-u-started-grid">
    <% if(!current_user.course_enrollments.better_u.started.empty?) %>
      <% current_user.course_enrollments.better_u.started.each do |c| %>
        <%= render :partial => 'learn_online/learning_module_media_object', locals: {lesson: LearningModules::find_module(c.name), my_css: 'modules-grid'} %>
      <% end %>
    <% end %>
  </div>

</div>