<% if(!@current_user.course_enrollments.better_u.completed.empty?) %>
  <div id="better-u-lessons-completed" class="d-flex flex-column">
    <div class="media">
      <div class="media-body">
        <span><%= image_tag 'better-u-logo.png', class: 'align-self-top', alt: 'Better U Logo', style: 'width: 6rem; height: auto;' %></span>
        <span class="pb-2 lead">
          <%= t("dashboard.my_courses.completed.better_u_completed_lesson") %>
        </span>
      </div>
    </div>
    <div class="pt-2 better-u-completed-grid">
        <% LearningModules::BETTER_U.each do |lesson| %>
          <% if LearningModules.user_completed_module?(@current_user, lesson) %>
            <%= render partial: "include_learning_module_media_object", locals: {lesson: lesson, my_css: 'modules-grid'} %>
          <% end %>
        <% end %>
    </div>
  </div>
<% end %>