<%
  has_completed = LearningModules.user_completed_module?(@current_user, lesson)
%>
<div class="grid-item">
  <%= render :partial => 'learn_online/learning_module_media_object', locals: {lesson: lesson, my_css: 'modules-grid', has_completed: has_completed} %>
</div>