<div id="mail-subscriptions-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="mail-subscriptions-tab">
  <div class="pt-2 content-section-title pb-2">
    <h2>Please choose which of these lists you'd like to receive emails from.</h2>
  </div>
  <%= render :partial => "subscriptions/form" %>
</div>