<div id="mail-subscriptions-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="mail-subscriptions-tab">
  <div id="mail-subscriptions-content" class="pt-2">
    <div class="content-section-title">Please choose which of these lists you'd like to receive emails from.</div>
    <%= render :partial => "subscriptions/form" %>
  </div>
</div>