<div id="playlists-content" class="tab-content p-2">
  <div class="pb-4 d-flex justify-content-center lead">
    <% t("dashboard.my_playlists.description")%>
  </div>

  <%= render partial: "playlists/list" %>

</div>

