<div id="my-activity-content" class="tab-content p-4 rounded">
  <% # Started Lessons %>
  <div id="started-courses" class="tab-pane fade show active" role="tabpanel" aria-labelledby="started-courses">
    <% # Better U Started Lessons %>
    <%= render :partial => "shared/better_u_in_progress" %>
    <br>
    <% # Food eTalk Started Lessons %>
    <%= render :partial => "shared/food_etalk_in_progress" %>
  </div>
</div>

