

  <div id="my-activity-content" class="tab-content p-4 rounded">

    <% # Started Lessons %>
    <div id="started-courses" class="tab-pane fade show active" role="tabpanel" aria-labelledby="started-courses">

      <% if user_has_completed_curriculum?(@current_user, LearningModules::FOOD_ETALK) &&  !user_has_completed_curriculum?(@current_user, LearningModules::BETTER_U) %>

        <% # Better U Started Lessons %>
        <%= render :partial => "dashboard/better_u_in_progress" %>
        <br>
        <% # Food eTalk Started Lessons %>
        <%= render :partial => "dashboard/food_etalk_in_progress" %>

      <% else %>

        <% # Food eTalk Started Lessons %>
        <%= render :partial => "dashboard/food_etalk_in_progress" %>
        <br>
        <% # Better U Started Lessons %>
        <%= render :partial => "dashboard/better_u_in_progress" %>

      <% end %>

    </div>


  </div>

