<div id="personal-info-content" class="tab-content p-2">
  <div class="pb-4 d-flex justify-content-center content-section-title"><%=t("dashboard.my_info.description")%></div>
  <div id="user-form" class="d-flex justify-content-center">
    <%= render :partial => "users/form" %>
  </div>
</div>
