<% if collection %>

  <%= render partial: 'shared/post', collection: collection, cached: false, locals: {index_path: "blogs_index_path", show_path: "show_blog_path", slugs: slugs, post_slugs: "post['categories']"} %>

<% else %>
  <div class="d-flex justify-content-center">
    <div class="media align-items-center mt-4 ml-5 mr-5">
      <%= t("blog.error")%>
    </div>
  </div>
<% end %>
