<div id="recipe" class="content-section2 p-4">
  <div class="row justify-content-start no-gutters">
    <div class="col">
      <div class="pull-left w-100">
        <div class="content-section-title">
          6 healthful resolutions that are easy to keep
        </div>
        <div class="blockquote-footer text-right">Written by Taylor Newman, MS/DI student | Edited by Laurel Sanville, MS, RDN, LD</div>
      </div>

      <div class="font-italic content-section-copy-light-med pt-4">
      </div>

    </div>
  </div>

  <div class="scroll-down-for-more d-block d-md-none mb-2" style="">
    Rotate Screen/Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>
  <div class="scroll-down-for-more d-none d-md-block mb-2" style="">
    Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>



  <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/new-years-eve-114011_640.jpg", class: 'w-50 pull-left mr-4' %>

  <div class="flex-row no-gutters w-100">

    <p>It’s that time of the year again! New Year’s resolutions are on everyone’s mind. This is when people promise to be healthier versions of themselves by doing things like joining a gym or going on a diet. Sometimes people get carried away with their goals, making it hard to keep them as the weeks go on. Here are 6 simple goals to make for the new year to help you reach your healthiest self!</p>





    <h2><strong>1.&nbsp;</strong><strong>Carry a water bottle</strong></h2>

    <p>Making sure you have a water bottle with you throughout the day is a great way to stay hydrated. You’re more likely to drink water if you have constant, easy access to it. Drinking water is important because it helps carry nutrients through your body and keeps your body temperature normal.<a href="#_ftn1" name="_ftnref1" title="">[1]</a> Even being slightly dehydrated can make you feel tired.<a href="#_ftn2" name="_ftnref2" title="">[2]</a> It’s especially important to stay hydrated during the warmer months here in Georgia.</p>

    <p>The says that women should be consuming about 11.5 cups of fluids, or 2.7 liters, a day. This includes fluid from water, other beverages, and water found foods like in fruits and vegetables.<sup>2</sup> Men should be consuming 15.5 cups of fluids, or 3.7 liters, a day.</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p><img alt="nutrition facts label" src="https://foodtalk.org/sites/default/files/blogposts/screen_shot_2018-01-08_at_9.17.25_pm.png" style="height:450px; width:700px" /><a id="Read the nutrition facts label" name="Read the nutrition facts label"></a></p>

    <p>&nbsp;</p>

    <h2><strong>2.&nbsp;</strong><strong>Read the nutrition facts label&nbsp;</strong></h2>

    <p>Reading the nutrition facts label on the back of packages can help you choose healthier items. Above is the old nutrition facts label on the left and the new nutrition facts label on the right. The new nutrition label has to be on packages between 2020-2021 but some food companies have already started using it. Therefore, both old and new labels are included. Be sure to check out at least three important sections on the labels:</p>

    <ul>
      <li><strong>Serving size</strong>: You might think a “serving” is bigger or smaller than what the food companies consider to be a serving. In this example, the serving size is 2/3 cup. Be realistic when you look at the serving sizes. Do you typically eat more than 2/3 cup of that food item? This will come in handy when you check the next section on the food label.</li>
      <li><strong>Calories per serving:</strong> How many calories per serving are there? Does a pretty small serving pack a lot of calories? In this example, every 2/3 cup serving will provide 230 calories. Say you typically eat twice that amount. This means you eat twice the calories. That might be a bit high for a simple snack, but just right for a small meal.</li>
      <li><strong>Added sugars</strong>: According to the Center for Disease Control (CDC), “eating and drinking too much added sugars… can lead to health problems such as weight gain and obesity, type 2 diabetes, and heart disease.”<a href="#_ftn3" name="_ftnref3" title="">[3]</a> The CDC recommends that no more than 10% of a typical 2,000 calorie diet should come from added sugars. This is about 50 grams of added sugars. A line that specifically mentions added sugars has been included on the new nutrition facts label. The old label combines the added sugars with the sugars that occur naturally in the food. This&nbsp;<a id="Take the stairs" name="Take the stairs"></a>makes it hard to tell how much is added sugar and how much is natural sugar.</li>
    </ul>

    <p>&nbsp;</p>

    <h2><strong>3.&nbsp;</strong><strong>Take the stairs</strong></h2>

    <p>Choosing to walk up the stairs instead of riding the elevator is a simple way to increase your physical activity. Check out these <a href="https://hr.duke.edu/wellness/exercise-fitness/take-stairs/benefits-taking-stairs">benefits</a> of climbing the stairs from Duke University. Some of the benefits include increasing your “good cholesterol” and strengthening your bones!<a id="Walk for 10 minutes a day" name="Walk for 10 minutes a day"></a></p>

    <p class="rteindent2"><img alt="walking" src="https://foodtalk.org/sites/default/files/blogposts/dad-909510_640.jpg" style="height:221px; width:400px" /></p>

    <p>&nbsp;</p>

    <h2><strong>4.&nbsp;</strong><strong>Walk for 10 minutes a day</strong></h2>

    <p>… Or for 20… Or for 30! Making sure you fit in time to walk during the day will help you stay active. You can spend this time taking the stairs, as we mentioned above, or by doing things like parking further away in the parking lot, taking a neighborhood&nbsp;<a id="Opt for whole grain" name="Opt for whole grain"></a>walk with your family, or walking on your lunch break. Your body will thank you for the extra dose of activity and sunshine!</p>

    <p>&nbsp;</p>

    <h2><strong>5.&nbsp;</strong><strong>Opt for whole grain</strong></h2>

    <p>Whole grains are good sources of nutrients like fiber, B vitamins, and protein.<a href="#_ftn4" name="_ftnref4" title="">[4]</a> The fiber and protein in whole grains can keep you full for longer. Staying full can help you avoid snacking in between meals and possibly save you some food dollars.</p>

    <p>The 2015 Dietary Guidelines recommend eating&nbsp;<strong>3-5 servings of whole grains a day</strong>.<a href="#_ftn5" name="_ftnref5" title="">[5]</a> A serving looks like:</p>

    <ul>
      <li>½ cup of whole grain pasta, starchy vegetable, or brown rice</li>
      <li>1 slice of whole grain bread</li>
      <li>1 small whole-wheat muffin</li>
    </ul>

    <p>Make sure you look for the word “whole” in the description of packaged items like bread, like “whole grain” or “whole wheat.”<a href="#_ftn6" name="_ftnref6" title="">[6]</a>&nbsp;If the word “whole” isn’t included it means the bread might not be made from the entire kernel.<a id="Stop eating when you’re 80% full" name="Stop eating when you’re 80% full"></a></p>

    <p>See examples of whole grains <a href="https://foodtalk.org/content/skinny-carbs">here</a>.</p>

    <p>&nbsp;</p>

    <h2><strong>6.&nbsp;</strong><strong>Stop eating when you’re 80% full</strong></h2>

    <h2><img alt="pasta" src="https://foodtalk.org/sites/default/files/blogposts/half_a_cup_of_pasta._wholemeal_pasta_is_the_best_choice.jpg" style="float:right; height:225px; margin:10px; width:300px" /></h2>

    <p>This is a smart mindset to have when you’re trying to avoid overeating. Some say it can take up to 20 minutes for your body to realize it is full.<a href="#_ftn7" name="_ftnref7" title="">[7]</a> Taking a break from eating when you feel 80% full can allow your stomach to catch up and realize you’ve had enough food. By the time it catches up, you will probably feel 100% full. Being aware of how full you feel when you’re eating can help you prevent eating more than your body needs.</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <hr />
    <p><span style="font-size:9px">Sparkler <a href="https://pixabay.com/en/new-year-s-eve-sparks-stellina-114011/">original photo source</a></span></p>

    <p><span style="font-size:9px">Nutrition facts labels <a href="https://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm385663.htm">original photo source</a></span></p>

    <p><span style="font-size:9px">Walking <a href="https://pixabay.com/en/dad-son-walking-family-father-909510/">original photo source</a></span></p>

    <p><span style="font-size:9px">Pasta <a href="https://commons.wikimedia.org/wiki/File:Half_a_cup_of_Pasta._Wholemeal_pasta_is_the_best_choice.JPG">original photo source</a></span></p>

    <div>
      <hr />
      <div id="ftn1">
        <p><span style="font-size:9px"><a href="#_ftnref1" name="_ftn1" title="">[1]</a> <a href="https://www.health.harvard.edu/staying-healthy/the-importance-of-staying-hydrated">https://www.health.harvard.edu/staying-healthy/the-importance-of-staying-hydrated</a></span></p>
      </div>

      <div id="ftn3">
        <p><span style="font-size:9px"><a href="#_ftnref3" name="_ftn3" title="">[3]</a> <a href="https://www.cdc.gov/nutrition/data-statistics/know-your-limit-for-added-sugars.html">https://www.cdc.gov/nutrition/data-statistics/know-your-limit-for-added-sugars.html</a></span></p>
      </div>

      <div id="ftn4">
        <p><span style="font-size:9px"><a href="#_ftnref4" name="_ftn4" title="">[4]</a> <a href="https://www.healthline.com/nutrition/9-benefits-of-whole-grains">https://www.healthline.com/nutrition/9-benefits-of-whole-grains</a></span></p>
      </div>

      <div id="ftn5">
        <p><span style="font-size:9px"><a href="#_ftnref5" name="_ftn5" title="">[5]</a> &nbsp;<a href="https://wholegrainscouncil.org/whole-grains-101/how-much-enough/us-dietary-guidelines-and-wg">https://wholegrainscouncil.org/whole-grains-101/how-much-enough/us-dieta...</a></span></p>
      </div>

      <div id="ftn6">
        <p><span style="font-size:9px"><a href="#_ftnref6" name="_ftn6" title="">[6]</a> <a href="http://kidshealth.org/en/teens/grains.html">http://kidshealth.org/en/teens/grains.html</a></span></p>
      </div>

      <div id="ftn7">
        <p><span style="font-size:9px"><a href="#_ftnref7" name="_ftn7" title="">[7]</a> <a href="https://www.livestrong.com/article/480254-how-long-does-it-take-your-brain-to-register-that-the-stomach-is-full/">https://www.livestrong.com/article/480254-how-long-does-it-take-your-brain-to-register-that-the-stomach-is-full/</a></span></p>
      </div>
    </div>








</div>



</div>