<div id="recipe" class="content-section2 p-4">
  <div class="row justify-content-start no-gutters">
    <div class="col">
      <div class="pull-left w-100">
        <div class="content-section-title">
          Meal prepping for the busy
        </div>
        <div class="blockquote-footer text-right">Written by Taylor Newman, MS/DI student | Edited by Laurel Sanville, MS, RDN, LD</div>
      </div>

      <div class="font-italic content-section-copy-light-med pt-4">
      </div>

    </div>
  </div>

  <div class="scroll-down-for-more d-block d-md-none mb-2" style="">
    Rotate Screen/Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>
  <div class="scroll-down-for-more d-none d-md-block mb-2" style="">
    Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>



  <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/29400689073_c8f318691d_z.jpg", class: 'w-50 pull-left mr-4' %>

  <div class="flex-row no-gutters w-100">

    <p>It’s difficult to make home cooked meals during the busy work week. When the end of a long day comes around we sometimes find ourselves opting for fast food or snacking on what’s in the cupboard. Preparing meals ahead of time can help reduce stress during the work week and ensure a healthy, hearty meal for you and your family.</p>




    <h2>Topics<a id="What is meal prepping?" name="What is meal prepping?"></a></h2>

    <p><a href="#What is meal prepping?">What is meal prepping?</a></p>

    <p><a href="#Need some recipes?">Need some recipes?</a></p>

    <hr />
    <h2><strong>What is meal prepping?</strong></h2>

    <p><img alt="meal prepping" src="https://foodtalk.org/sites/default/files/blogposts/29400689073_c8f318691d_z.jpg" style="float:right; height:341px; margin:10px; width:256px" /></p>

    <p>Meal prepping is the term used when you make a meal in large amounts at once so that it can be eaten throughout the week when there’s less time available to cook. People usually choose one day where they tend to have more time to meal prep, like a day on the weekend.</p>

    <p>It’s easy to get overwhelmed when you begin meal prepping. It sounds like something that only elite athletes or nutritionists would do, but it’s actually easier than you might think. Here’s how to get started!</p>

    <ol>
      <li><span style="font-size:14px"><strong>Choose a day</strong></span>: Is Sunday the best day for you? What about Friday? Choose just one day to meal prep at first. As you get used to it, you may want to split meal prepping into two days to switch up the recipes and limit the amount of cooking on one day.</li>
      <li><span style="font-size:14px"><strong>Choose a meal time</strong>:</span> Are your mornings really rushed? You might want to decide to prep quick breakfast meals so you don’t end up in the drive thru on your way to your destination. Are you finding that you don’t have time to make a lunch the night before? Meal prepping lunches can help you avoid resorting to fast food come noon. Are you too tired to make dinner when you get home from work? Preparing dinner ahead of time can save you a whole lot of hassle during the work week. Start by targeting the meal time when you find yourself eating out, spending money, or being stressed the most.</li>
      <li><span style="font-size:14px"><strong>Choose a simple recipe</strong></span>: Choose a simple meal with few ingredients to make. It helps if you’ve made the meal in the past and that you and your family already like it. What you’re going to do is make that same meal but in extra large quantities. You can double the recipe, triple the recipe, or make more depending on how many days you want meals for. There are online <a href="http://mykitchencalculator.com/recipeconverter.html">recipe calculators </a>that will do the recipe math for you. An easy way to start is to just make twice the normal recipe amount. Increase the amount based on your needs as you get more comfortable with meal prepping.<img alt="fridge storage" src="https://foodtalk.org/sites/default/files/blogposts/5710363066_1c60f1fe69_z.jpg" style="float:right; height:225px; margin:10px; width:300px" /></li>
      <li><strong><span style="font-size:14px">Store your meals</span>: </strong>If you make a bunch of food, you’re going to need a place to store it. Clear a space in your refrigerator or freezer. If you’re making meals for breakfast or lunch, it can save you time to separate the food you made into individual meal sized portions (enough for one person) and put them in Tupperware containers or ziplock plastic bags. You can even use old sour cream or margarine containers that have been cleaned. That way you can grab them and go. If there’s no need to separate the meal into individual portions, store your dish however you’d like. Store food in the fridge if you plan on eating it soon. Store food in the freezer if you plan on eating it on a later date.</li>
      <li><span style="font-size:14px"><strong>Other tips:</strong></span>
        <ul>
          <li>Mix it up! If you’re going to have the same thing for a few days, using different sauces, spices, or toppings can mix things up. An example of this would be to meal prep a week’s worth of plain chicken breast and season it with BBQ sauce one day, lemon juice the next. This adds a fun flair to each meal and keeps your taste buds surprised. Make sure you think of what toppings you want ahead of time so you don’t have to run to the store during your busy week.</li>
          <li>Decide on a recipe the day before you meal prep. Take a shopping list with everything you’ll need on it the day before so you are ready to go on your meal prep day.</li>
          <li>Think of easy ways to make the meal. Using a crockpot can save you even more time by cooking while you go about your day. Another option&nbsp;<a id="Need some recipes?" name="Need some recipes?"></a>&nbsp;s making a casserole, which can typically provide more than one meal without you having to double the recipe.</li>
        </ul>
      </li>
    </ol>

    <h2><strong>Need some recipes?</strong></h2>

    <p>Here are some easy meal prep ideas:</p>

    <p><span style="font-size:14px"><strong>Breakfast</strong></span></p>

    <ul>
      <li>Cut up apple slices ahead of time, place them in Tupperware, and squeeze lemon juice on them so they stay fresh!</li>
      <li><a href="https://foodtalk.org/content/cinnamon-roll-oatmeal">Cinnamon roll oatmeal</a>—Put all of your toppings in a Tupperware ahead of time. All you have to do in the morning of is make the oatmeal and pour it in the Tupperware.</li>
    </ul>

    <p><span style="font-size:14px"><strong>Lunch</strong></span></p>

    <ul>
      <li><a href="https://foodtalk.org/content/3-bean-slow-cooker-chili">Three bean slow cooker chili</a></li>
      <li><a href="https://foodtalk.org/content/chicken-divan">Chicken divan</a></li>
    </ul>

    <p><span style="font-size:14px"><strong>Dinner</strong></span></p>

    <ul>
      <li><a href="https://whatscooking.fns.usda.gov/recipes/supplemental-nutrition-assistance-program-snap/vegetable-and-turkey-stir-fry/">Vegetable and turkey stir fry</a></li>
      <li><a href="https://whatscooking.fns.usda.gov/recipes/supplemental-nutrition-assistance-program-snap/pasta-primavera">Pasta primavera</a></li>
    </ul>

    <p>&nbsp;</p>

    <hr />
    <p><span style="font-size:9px">Meal prep <a href="https://www.flickr.com/photos/145591593@N06/29400689073">original photo source</a></span></p>

    <p><span style="font-size:9px">Fridge <a href="https://www.flickr.com/photos/rubbermaid/5710363066">original photo source</a></span></p>





  </div>



</div>