<div id="recipe" class="content-section2 p-4">
  <div class="row justify-content-start no-gutters">
    <div class="col">
      <div class="pull-left w-100">
        <div class="content-section-title">
          What is Whole30?
        </div>
        <div class="blockquote-footer text-right">Written by Taylor Newman, MS/DI student | Edited by Laurel Sanville, MS, RDN, LD</div>
      </div>

      <div class="font-italic content-section-copy-light-med pt-4">
      </div>

    </div>
  </div>

  <div class="scroll-down-for-more d-block d-md-none mb-2" style="">
    Rotate Screen/Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>
  <div class="scroll-down-for-more d-none d-md-block mb-2" style="">
    Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>



  <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/25860473810_e738ab1568_z.jpg", class: 'img-fluid w-50 pull-left mr-4' %>

  <div class="flex-row no-gutters">

    <div class="content-section-title">What is Whole30?</div>

    <p>Whole30 is a type of diet described as a temporary nutrition "reset." People following the diet stop eating certain food groups for 30 days, including:</p>
    <p class="ml-4">
      - Grains<br>
      - Sugar<br>
      - Legumes (dried beans)<br>
      - Dairy<br>
      - Processed foods with ingredients you can’t pronounce or too many ingredients
    </p>

    <p>The diet says that these certain foods may be causing you to be extra tired, have pains, or have skin issues without you realizing it. By not eating them for a month, you clean out your system and stop any bad symptoms related to the foods. After 30 days, you then slowly start eating the foods you cut out one food group at a time to identify&nbsp;<a id="Why it’s good" name="Why it’s good"></a>which foods (if any) were causing you problems.</p>

    <p>&nbsp;</p>

    <h2><strong>Why it’s good</strong></h2>

    <p>Whole30 cuts out some foods that we might be better off eating less of anyway. Think added sugar, alcohol, and many processed foods. As a result, the diet is lower in sugar and sodium. It might also be lower in saturated fat&nbsp;<a id="Why it’s not so good" name="Why it’s not so good"></a>since one common source, dairy, is also on the no-no list.</p>

    <p>&nbsp;</p>

    <h2><strong>Why it’s not so good</strong></h2>

    <p>There are a few reasons why you might want to think before you commit to a diet like Whole30:</p>

    <ol>
      <li>While Whole30 claims to be a “program” and not a diet, it has similar aspects to a diet. A diet typically restricts foods for a goal like weight loss. Whole30 restricts food with the goal of cleaning the body of harmful foods. The problem with diets is that they are rarely sustainable, meaning they are hard to follow for a long period of time.</li>
      <li>Whole30 requires a LOT of planning ahead of time and a LOT of effort during it. Imagine your dinner last night. Did it contain cheese? Bread? Pasta? Legumes? Did you have something packaged with any ingredients you can’t pronounce? If it did, it is not Whole30 approved. Making sure you don’t accidentally eat any of the forbidden foods can be difficult after a lifetime of eating them. It can be done, but eating will require more time and effort than it did before.</li>
      <li>Many registered dietitian nutritionists recommend eating a balanced diet that provides neither too much nor too little of all the nutrients you need to be healthy. That is why it is a red flag when a diet tells you to stop eating major food groups.</li>
    </ol>

    <p>For example, if you don’t eat any dairy foods (no cheese, no milk, no yogurt) for a whole month, you might not get enough calcium in your diet. You can get calcium from other foods, like dark leafy greens, but it takes time and effort to know which ones are good substitutes. And you’d have to eat a lot of those greens-- 6 cups of raw kale or 1.25 cups of cooked spinach-- to get the same calcium found in 1 cup of cow’s milk. Many people do not jump through these hoops to replace the nutrients they are missing out on. This diet might also be hard for vegetarians or vegans who rely on legumes and soy products like tofu as their main sources of protein.<a id="So, should I do it?" name="So, should I do it?"></a></p>

    <span>
      <p class="h2">So, should I do it?</p>
      <img alt="no milk sign" src="https://foodtalk.org/sites/default/files/blogposts/unknown.png" style="height:200px; width:200px" />
    </span>

    </div>

    <p>After reading the pros and cons of the Whole30 diet, what do you think? If you are still interested, be sure to talk to your doctor or registered dietitian nutritionist to make sure it is the right diet for you.</p>

    <p>
      No milk <a href="https://pixabay.com/en/milk-dairy-allergy-food-allergen-995051/">original photo source</a>
    </p>
    <p>
      Checking food label <a href="https://www.flickr.com/photos/usdagov/25860473810">original photo source</a>
    </p>

  </div>



</div>