<div id="recipe" class="content-section2 p-4">
  <div class="row justify-content-start no-gutters">
    <div class="col">
      <div class="pull-left w-100">
        <div class="content-section-title">
          Is gluten-free healthier?
        </div>
        <div class="blockquote-footer text-right">Written by Taylor Newman, MS/DI student | Edited by Laurel Sanville, MS, RDN, LD</div>
      </div>

      <div class="font-italic content-section-copy-light-med pt-4">
      </div>

    </div>
  </div>

  <div class="scroll-down-for-more d-block d-md-none mb-2" style="">
    Rotate Screen/Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>
  <div class="scroll-down-for-more d-none d-md-block mb-2" style="">
    Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>


  <div class="pull-left mr-4">
    <figure class="figure">
      <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/rice-2853767_640.jpg", style: 'width: 25rem;' %>
      <figcaption class="figure-caption">Wild rice is a gluten-free grain.</figcaption>
    </figure>
  </div>


  <div class="flex-row no-gutters">

    <p>In the past few years there has been a huge boom in interest in gluten-free diets. What exactly is gluten though, and is it healthier? Do you need to be on a gluten-free diet? Read on for your answers.</p>




    <p><strong>What is gluten?</strong></p>

    <p>Gluten is a protein found in grains like wheat, barley, rye, and some oats that have been processed in the same factories as gluten-containing grains.<a href="#_ftn1" name="_ftnref1" title="">[1]</a> Some products that contain gluten include most breads, pasta, pizza, and baked goods.</p>

    <p>A gluten-free diet cuts out wheat, barley, and rye products. The diet is used to treat celiac disease, an autoimmune disorder that affects less than 1% of the population.<a href="#_ftn2" name="_ftnref2" title="">[2]</a> When people with celiac disease eat gluten, their immune system attacks their small intestine and causes damage.<a href="#_ftn3" name="_ftnref3" title="">[3]</a> The damaged intestine cannot absorb nutrients as well as before. Other long-term issues include inflammation and bone loss.<a href="#_ftn4" name="_ftnref4" title="">[4]</a></p>

    <p>Some people show symptoms found in celiac disease but their intestines are not attacked by their immune system.<a href="#_ftn5" name="_ftnref5" title="">[5]</a> This is called a gluten sensitivity.<a href="#_ftn6" name="_ftnref6" title="">[6]</a> Cutting gluten out from their diet can help prevent serious health issues. Others might have an allergy to wheat. Cutting wheat out from their diet would help relieve symptoms.</p>

    <p class="rteindent4"><img alt="oats" src="https://foodtalk.org/sites/default/files/blogposts/oat-1391682_640.jpg" style="height:192px; width:287px" /></p>

    <p class="rtecenter"><em>Oats are naturally gluten-free but can be contaminated&nbsp;during production.</em></p>

    <p><strong>Is gluten free healthier?</strong></p>

    <p>There are no health benefits to following gluten-free diet if you don’t have celiac disease, a wheat allergy, or wheat sensitivity. In fact, when you cut out gluten you tend to cut out a lot of products that have been fortified with important nutrients. For example, most breads have B vitamins added to them. Gluten-free alternatives like those made from rice or tapioca do not necessarily include those lost nutrients.</p>

    <p>Those who aren’t eating gluten should also make sure they’re getting enough fiber in their diet because they’re eliminating certain grains. You can get fiber from gluten-free grains like quinoa or corn. A multi-vitamin might be a good idea for someone who isn’t sure they can replace the missing nutrients of a gluten-free diet. &nbsp; &nbsp; &nbsp;&nbsp;</p>

    <p>&nbsp;</p>

    <table border="1" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td style="width:312px">
          <p class="rtecenter"><strong>Grains with gluten</strong></p>
        </td>
        <td style="width:312px">
          <p class="rtecenter"><strong>Gluten-free grains</strong></p>
        </td>
      </tr>
      <tr>
        <td style="width:312px">
          <p class="rtecenter">Wheat</p>
        </td>
        <td style="width:312px">
          <p class="rtecenter">Corn</p>
        </td>
      </tr>
      <tr>
        <td style="width:312px">
          <p class="rtecenter">Barley</p>
        </td>
        <td style="width:312px">
          <p class="rtecenter">Quinoa</p>
        </td>
      </tr>
      <tr>
        <td style="width:312px">
          <p class="rtecenter">Rye</p>
        </td>
        <td style="width:312px">
          <p class="rtecenter">Rice</p>
        </td>
      </tr>
      <tr>
        <td style="width:312px">
          <p class="rtecenter">Farro</p>
        </td>
        <td style="width:312px">
          <p class="rtecenter">Sorghum</p>
        </td>
      </tr>
      <tr>
        <td style="width:312px">
          <p class="rtecenter">&nbsp;</p>
        </td>
        <td style="width:312px">
          <p class="rtecenter">Wild rice</p>
        </td>
      </tr>
      <tr>
        <td style="height:22px; width:312px">
          <p class="rtecenter">&nbsp;</p>
        </td>
        <td style="height:22px; width:312px">
          <p class="rtecenter">Buckwheat</p>
        </td>
      </tr>
      <tr>
        <td style="width:312px">
          <p class="rtecenter">&nbsp;</p>
        </td>
        <td style="width:312px">
          <p class="rtecenter">Amaranth</p>
        </td>
      </tr>
      <tr>
        <td style="width:312px">
          <p>&nbsp;</p>
        </td>
        <td style="width:312px">
          <p class="rtecenter">Oats**</p>
        </td>
      </tr>
      </tbody>
    </table>

    <p class="rtecenter">**if not contaminated with gluten during production</p>

    <p class="rtecenter"><em>Table adapted from wholegraincouncil.com</em></p>

    <p>&nbsp;</p>

    <p><span style="color:#FF0000"><span style="font-size:14px"><strong>Bottom line: Unless you have celiac disease, gluten sensitivity, or a wheat allergy, there are no real health benefits to going gluten-free.</strong></span></span></p>

    <p>&nbsp;</p>

    <hr />
    <p>&nbsp;</p>

    <p><span style="font-size:9px">Wild rice <a href="https://celiac.org/celiac-disease/understanding-celiac-disease-2/celiacdiseasesymptoms/">original photo source</a></span></p>

    <p><span style="font-size:9px">Oats <a href="https://pixabay.com/en/oat-oats-overnight-relax-food-1391682/">original photo source</a></span></p>

    <div>&nbsp;
      <hr />
      <div id="ftn1">
        <p><span style="font-size:9px"><a href="#_ftnref1" name="_ftn1" title="">[1]</a></span> <span style="font-size:9px">http://www.eatright.org/resource/health/diseases-and-conditions/celiac-disease/celiacs-avoid-these-grains</span></p>
      </div>

      <div id="ftn2">
        <p><span style="font-size:9px"><a href="#_ftnref2" name="_ftn2" title="">[2]</a> https://mayoclinic.pure.elsevier.com/en/publications/the-prevalence-of-celiac-disease-in-the-united-states</span></p>
      </div>

      <div id="ftn3">
        <p><span style="font-size:9px"><a href="#_ftnref3" name="_ftn3" title="">[3]</a> https://celiac.org/celiac-disease/understanding-celiac-disease-2/what-is-celiac-disease/</span></p>
      </div>

      <div id="ftn4">
        <p><span style="font-size:9px"><a href="#_ftnref4" name="_ftn4" title="">[4]</a> <a href="https://celiac.org/celiac-disease/understanding-celiac-disease-2/celiacdiseasesymptoms/">https://celiac.org/celiac-disease/understanding-celiac-disease-2/celiacdiseasesymptoms/</a></span></p>
      </div>

      <div id="ftn5">
        <p><span style="font-size:9px"><a href="#_ftnref5" name="_ftn5" title="">[5]</a> https://www.coeliac.org.uk/coeliac-disease/about-coeliac-disease-and-dermatitis-herpetiformis/gluten-sensitivity/</span></p>
      </div>

      <div id="ftn6">
        <p><span style="font-size:9px"><a href="#_ftnref6" name="_ftn6" title="">[6]</a> https://www.health.harvard.edu/blog/going-gluten-free-just-because-heres-what-you-need-to-know-201302205916</span></p>
      </div>
    </div>





  </div>



</div>