<div id="recipe" class="content-section2 p-4">
  <div class="row justify-content-start no-gutters">
    <div class="col">
      <div class="pull-left w-100">
        <div class="content-section-title">
          What is E. Coli and how can I can I protect myself?
        </div>
        <div class="blockquote-footer text-right">Written by Taylor Newman, MS/DI student | Edited by Laurel Sanville, MS, RDN, LD</div>
      </div>

      <div class="font-italic content-section-copy-light-med pt-4">
      </div>

    </div>
  </div>

  <div class="scroll-down-for-more d-block d-md-none mb-2" style="">
    Rotate Screen/Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>
  <div class="scroll-down-for-more d-none d-md-block mb-2" style="">
    Scroll down for more <%= fa_icon "arrow-circle-down", class: "arrow" %>
  </div>



  <%= image_tag "https://foodtalk.org/sites/default/files/blogposts/e._coli_bacteria_16578744517.jpg", class: 'img-fluid w-50 pull-left mr-4' %>

  <div class="content-section-title">What is E. Coli?</div>

  <div class="flex-row no-gutters">

    <p>The United States has had a recent E. Coli outbreak that infected over 20 people across 15 states. What exactly is E. coli, and what can you do to protect yourself from getting it?</p>

    <p><strong>What is E. coli</strong>?<a href="#_ftn1" name="_ftnref1" title="">[1]</a><sup>,&nbsp;</sup></p>

    <p><em>Escherichia coli</em>&nbsp;(also known as <em>E. coli</em>) are bacteria found in the “environment, foods, and guts of people and animals.”<sup>1</sup> Most strains of&nbsp;<em>E. coli</em>&nbsp;are harmless but others can make you sick. The strain causing the outbreak<a id="Where could you get an E. coli infection from?" name="Where could you get an E. coli infection from?"></a>&nbsp;in the U.S. is called <em>E. coli</em>&nbsp;O157:H7.<a href="#_ftn2" name="_ftnref2" title="">[2]</a></p>

    <p>&nbsp;</p>

    <p><img alt="beef" src="https://foodtalk.org/sites/default/files/blogposts/beef-1846030_1280.jpg" style="float:right; height:173px; margin:10px; width:260px" /><strong>Where could you get an <em>E. coli</em> infection from?&nbsp;</strong></p>

    <p>Infections start when you swallow the bacteria, or as the Center for Disease Control and Prevention (CDC) says, “when you get tiny (usually invisible) amounts of human or animal feces in your mouth.”<sup>1</sup>&nbsp;</p>

    <p>Unfortunately it happens more than we would like to think it does. The bacteria typically live in the guts of animals like cattle, goats, sheep, and deer. The major source for human infection are cattle food products and fresh produce contaminated with cattle waste.</p>

    <p>Foods that can be at high risk for contamination include:</p>

    <ul>
      <li>Undercooked beef (especially hamburger)</li>
      <li>Unpasteurized milk and juice</li>
      <li>Raw fruits and vegetables (like sprouts)<a id="Should you stop eating certain foods?" name="Should you stop eating certain foods?"></a></li>
      <li>Contaminated water</li>
    </ul>

    <p>&nbsp;</p>

    <p><strong>Should you stop eating certain foods?</strong><a href="#_ftn3" name="_ftnref3" title="">[3]</a>&nbsp;</p>

    <p>The CDC is not recommending that the public avoid any particular food at this time. Leafy greens are suspected to be the source of the <em>E. coli</em> outbreak but the exact type of greens have not been confirmed.</p>

    <p>Since the last illness was a month ago, the good news is that the CDC thinks it is likely that the contaminated&nbsp;<a id="How quickly could you get sick after being infected with E. coli?" name="How quickly could you get sick after being infected with E. coli?"></a>leafy greens linked to the outbreak are no longer available for sale. The investigation is ongoing, however.</p>

    <p>&nbsp;</p>

    <p><strong>How quickly could you get sick after being infected with <em>E. coli</em>?</strong> <sup>3,<a href="#_ftn4" name="_ftnref4" title="">[4]</a>&nbsp;</sup></p>

    <p>People usually get sick from&nbsp;<em>E. coli</em>&nbsp;O157:H7 3-4 days after eating or drinking something contaminated. &nbsp;<a id="What are the signs and symptoms of being infected with E. coli?" name="What are the signs and symptoms of being infected with E. coli?"></a>However, symptoms can appear anywhere from 1-10 days after exposure.</p>

    <p>&nbsp;</p>

    <p><strong>What are the signs and symptoms of being infected with <em>E. coli</em>?</strong><sup>1,2&nbsp;</sup></p>

    <ul>
      <li>Severe (often bloody) diarrhea</li>
      <li>Stomach cramps</li>
      <li>Vomiting</li>
      <li>Some people may have a fever but it is usually not very high.</li>
      <li>Children 4 years-old or younger are especially vulnerable. So are the elderly.</li>
      <li>In 5-10% of cases, a condition called hemolytic uremic syndrome (HUS) may develop, which&nbsp;<a id="How long do the symptoms last?" name="How long do the symptoms last?"></a>can lead to kidney failure or even death.</li>
    </ul>

    <p>&nbsp;</p>

    <p><strong>How long do the symptoms last?</strong><sup>4&nbsp;</sup></p>

    <p>Most people get better within 5-7 days. Some infections are very mild but others can be severe or even life-<a id="How can I prevent getting infected with E. coli in the future?" name="How can I prevent getting infected with E. coli in the future?"></a><a id="What should I do if I get infected with E. coli?" name="What should I do if I get infected with E. coli?"></a>threatening.</p>

    <p>&nbsp;</p>

    <p><strong>What should I do if I get infected with E. coli?</strong></p>

    <p>Call your healthcare provider if you are concerned that you have an&nbsp;<em>E. coli</em>&nbsp;infection.</p>

    <p>&nbsp;</p>

    <p><strong>How can I prevent getting infected with <em>E. coli</em> in the future?</strong><sup> 3,<a href="#_ftn5" name="_ftnref5" title="">[5]</a>&nbsp;</sup></p>

    <ul>
      <li><img alt="cow" src="https://foodtalk.org/sites/default/files/blogposts/cow-2132526_1280_0.jpg" style="float:right; height:180px; width:270px" />Avoid eating high-risk foods like undercooked ground beef, unpasteurized milk or juice, soft cheeses made from unpasteurized milk, or alfalfa sprouts</li>
      <li>Wash your hands thoroughly before and after preparing or eating food.</li>
      <li>Use a food thermometer to make sure that ground beef has reached a safe temperature of 160° F.</li>
      <li>Wash cutting boards and utensils after they touch raw meat to avoid contaminating other foods.</li>
      <li>Wash hands before preparing food or after changing infants’ diapers. Wash hands after contact with cows, sheep, or goats, their food or treats, or their living environment.</li>
      <li>Avoid preparing food when you are sick, especially if you are sick with diarrhea</li>
    </ul>


    <div>
      <hr />
      <p class="small">Bacteria <a href="https://commons.wikimedia.org/wiki/File:E._coli_Bacteria_(16578744517).jpg">original photo source </a></p>
      <p class="small">Raw hamburger <a href="https://pixabay.com/en/beef-bowl-cooking-cuisine-1846030/">original photo source </a></p>
      <p class="small">Cow <a href="https://pixabay.com/en/cow-landscape-grass-field-prairie-2132526/">original photo source </a></p>

      <hr />
      <div id="ftn1">
        <p><span style="font-size:9px"><a href="#_ftnref1" name="_ftn1" title="">[1]</a> Centers for Disease Control and Prevention. E.coli (Escherichia coli): General Information. 2015. Internet: <a href="https://www.cdc.gov/ecoli/general/index.html">https://www.cdc.gov/ecoli/general/index.html</a> (accessed 13 January 2018)</span></p>
      </div>

      <div id="ftn2">
        <p><span style="font-size:9px"><a href="#_ftnref2" name="_ftn2" title="">[2]</a> U S Food and Drug Administration. Foodborne Illnesses: What You Need to Know. Center for Food Safety and Applied Nutrition; 2018. Internet: <a href="https://www.fda.gov/food/resourcesforyou/consumers/ucm103263.htm">https://www.fda.gov/food/resourcesforyou/consumers/ucm103263.htm</a> (accessed 13 January 2018)</span></p>
      </div>

      <div id="ftn3">
        <p><span style="font-size:9px"><a href="#_ftnref3" name="_ftn3" title="">[3]</a> Centers for Disease Control and Prevention. Update: Multistate Outbreak of E. coli O157:H7 Infections. CDC Newsroom; 2018. Internet: <a href="https://www.cdc.gov/media/releases/2018/s0110-update-ecoli.html">https://www.cdc.gov/media/releases/2018/s0110-update-ecoli.html</a> (accessed 13 January 2018).</span></p>
      </div>

      <div id="ftn4">
        <p><span style="font-size:9px"><a href="#_ftnref4" name="_ftn4" title="">[4]</a> Centers for Disease Control and Prevention. E.coli (Escherichia coli): Symptoms. 2017 Internet: <a href="https://www.cdc.gov/ecoli/ecoli-symptoms.html">https://www.cdc.gov/ecoli/ecoli-symptoms.html</a> (accessed 13 January 2018)</span></p>
      </div>

      <div id="ftn5">
        <p><span style="font-size:9px"><a href="#_ftnref5" name="_ftn5" title="">[5]</a> U.S. Department of Health and Human Services. E. coli. FoodSafety.gov; 2009. Internet: <a href="https://www.foodsafety.gov/poisoning/causes/bacteriaviruses/ecoli/index.html">https://www.foodsafety.gov/poisoning/causes/bacteriaviruses/ecoli/index.html</a> (accessed 13 January 2018)</span></p>
      </div>
    </div>




  </div>



</div>