<%= render partial: 'layouts/fancybox_bootstrap_fix', cached: true %>

<% cache [create_cache_key_prefix, "blog-index-#{@category_id}"], :expires_in => 1.week do %>

  <div id="blogs" class="content-section2">

  <% if @blogs %>

    <%= render partial: 'blog_header', cached: true %>

    <div id="blog-grid" class="grid">
      <%= render partial: 'blogs/blog', collection: @blogs, cached: true %>
    </div>

  <% else %>
    <div class="d-flex justify-content-center">
      <div class="media align-items-center mt-4 ml-5 mr-5">
        <% #TODO: I18n ME! %>
        Error displaying Blog.
      </div>
    </div>
  <% end %>

  </div>

  <% if @blogs %>
    <script>
        var pages = [];

        <% ((@page+=1)..@total_pages).each { |index| %>
        pages.push("<%= blog_load_page_url(page: index, category: @category_id) %>");
        <% } %>

        function getPages() {
            var slug = pages[ this.loadCount ];
            if ( slug ) {
                return slug;
            }
        }

        var $grid = $('.grid').masonry({
            // Masonry options...
            itemSelector: '.grid-item',
            fitWidth: true
        });

        var msnry = $grid.data('masonry');

        $grid.infiniteScroll({
            path: getPages,
            append: false,
            outlayer: msnry,
            responseType: 'text',
            history: false,
        });

        $grid.on( 'load.infiniteScroll', function( event, response ) {
            var jqData = $(response)
            jqData.imagesLoaded( function() {
                $('#blog-grid').append(jqData);
                $('.grid').masonry( 'appended', jqData );
            });
        });
    </script>

  <% end %>

<% end %>