<script language="JavaScript">
    //necessary for https://github.com/fancyapps/fancybox/issues/1911
    $(document).off("click.fb-start", "[data-trigger]");
</script>

<div id="blogs" class="content-section2">

  <%= render partial: 'blog_header' %>

  <div class="grid">
    <%
      #TODO: consolidate me into a single view
      @blogs.each do |blog|
    %>
      <%= render partial: 'blogs/blog_card', locals: {blog: blog} %>
    <%
      end
    %>
  </div>

</div>