<%= render partial: 'layouts/fancybox_bootstrap_fix' %>

<div id="blogs" class="content-section2">

  <%= render partial: 'blog_header' %>

  <div class="grid">
    <%
      #TODO: consolidate me into a single view
      @blogs.each do |blog|
    %>
      <%= render partial: 'blogs/blog_card', locals: {blog: blog} %>
    <%
      end
    %>
  </div>

</div>