<div id="blog-post" class="content-section2">

  <% if @show_categories %>
    <%= render partial: 'blogs/blog_header' %>
  <% end %>

  <div class="p-4">
    <% if @featured_image %>
      <%= image_tag(@featured_image, class: 'rounded img-fluid mx-auto d-block', alt: @blog["title"]["rendered"]) %>
    <% end %>
    <div class="d-flex justify-content-center mt-4 mb-4">
      <span class="content-section-title"><%== @title %></span>
    </div>
    <%== @content %>
  </div>
</div>