/*
 * Global Colors
 */

$primary-fill-color: #E24F2C;
$primary-font-color: black;
$primary-font-inverse-color: floralwhite;
$secondary-font-color: #5a552f;
$secondary-fill-color: burlywood;
$tertiary-fill-color: #fbec64;

$orange-fill-color: #f79246;

$input-focus-border-color: $tertiary-fill-color;
$input-focus-shadow-color: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgb(226, 81, 54);

/*
 * Content Colors
 */
$hero-title: #fbec64;
$hero-subtitle: peachpuff;
$content-section-bg-color: black;
$content-section2-bg-color: white;
$content-section3-bg-color: black;
$content-section-title: $secondary-fill-color;


/*
 * Header Colors
 */


/*
 * Footer Colors
 */

$footer-bg-color: #4CAF50;