<div id="maps-content" class="content-section2">
  <div class="flex-row p-4" style="background-color: white;">
    <div class="flex-col d-flex justify-content-center">
      <div class="media align-items-center">
        <span>
          <%= image_tag 'state-of-ga-orange-lg.png', class: 'd-none d-md-block', alt: 'Recipe Card Icon', style: 'width: auto; height: 6rem;' %>
        </span>
        <div class="media-body ml-4">
          <p class="content-section-title mb-0">GIS Resources</p>
          <p class="content-section-copy-dark mt-0 mb-0 w-100">Provided by UGA SNAP-Ed</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid pt-4">
  <%
    Maps::GA_SNAP_ED_MAPS.each do |map|
  %>
    <div class="grid-item mb-4">
      <div class="card m-1" style="width: 18rem; height: 16rem;">
        <div class="card-title ml-2 mb-1">
          <%= link_to map[:title], show_map_path(map[:id]), data: { lity: '' } %>
        </div>
        <div class="card-body p-0 m-0">
          <iframe style="width: 100%;height: 100%;position: relative;" src="<%=map[:target_url]%>" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card-footer">
          <%= link_to("Expand Map", show_map_path(map[:id]), data: { lity: '' }, class: "btn btn-sm btn-primary") %>
        </div>
      </div>
    </div>
  <%
    end
  %>
  </div>
</div>