<% cache "fancybox_bootstrap_fix", :expires_in => 1.month do %>
  <%= render partial: 'layouts/fancybox_bootstrap_fix' %>
<% end %>

<% cache [create_cache_key_prefix, "recipes-index-#{@category_id}"], :expires_in => 1.week do %>

  <div id="recipes" class="content-section2">

  <% if @recipes %>

    <%= render partial: 'recipes_header' %>

    <div id="recipes-grid" class="grid">
      <%= render partial: 'recipes/recipe', collection: @recipes, cached: true %>
    </div>

  <% else %>
    <div class="d-flex justify-content-center">
      <div class="media align-items-center mt-4 ml-5 mr-5">
        <% #TODO: I18n ME! %>
        Error displaying recipes.
      </div>
    </div>
  <% end %>

</div>

  <% if @recipes %>
    <script>
        var pages = [];

        <% ((@page+=1)..@total_pages).each { |index| %>
        pages.push("<%= recipe_load_page_path(page: index, category: @category_id) %>");
        <% } %>

        function getPages() {
            var slug = pages[ this.loadCount ];
            if ( slug ) {
                return slug;
            }
        }

        var $grid = $('.grid').masonry({
            // Masonry options...
            itemSelector: '.grid-item',
            fitWidth: true
        });

        var msnry = $grid.data('masonry');

        $grid.infiniteScroll({
            path: getPages,
            append: false,
            outlayer: msnry,
            responseType: 'text',
            history: false,
        });

        $grid.on( 'load.infiniteScroll', function( event, response ) {
            var jqData = $(response)
            jqData.imagesLoaded( function() {
                $('#recipes-grid').append(jqData);
                $('.grid').masonry( 'appended', jqData );
            });
        });
    </script>

  <% end %>

<% end %>