<div id="recipes" class="content-section row">
  <div class="col">
    <div class="d-flex justify-content-center mx-auto content-section-item">
      <div class="media content-section-header">
        <%= image_tag 'logo-med.png', class: 'd-flex d-sm-none d-md-block', alt: 'FoodTalk.org Logo' %>
        <div class="media-body ml-3">
          <span class="content-section-title">FoodTalk Recipes</span>
          <p class="content-section-copy-light">Healthy. Delicious. Affordable.  Our FoodTalk recipes contain delicious, healthy, and inexpensive meal ideas for your whole family to enjoy!</p>
          <p class="text-muted">
            Browse By Category:
            <%= link_to "All", recipes_path %>&nbsp;
            <% Category.all.each do |c| %>
              <%= link_to c.name, recipes_path(category_id: c.id) %>&nbsp;
            <% end %>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <%= render :partial => "recipes/list_recipes" %>
  </div>
</div>
