<%= render partial: 'layouts/fancybox_bootstrap_fix', cached: true  %>

<% cache [create_cache_key_prefix, "recipes-index-#{@slug}"], :expires_in => 1.week do %>

  <div id="recipes" class="content-section2">

  <% if @posts %>

    <%= render partial: 'shared/post_header', cached: true, locals: {title: t("recipes.name"), description: t("recipes.description"), index_path: "recipes_path", search_label: t("recipes.search"), slugs: @tags} %>

    <div id="posts-grid" class="grid">
      <%= render partial: 'shared/post', collection: @posts, cached: true, locals: {index_path: "recipes_path", show_path: "show_recipe_path", slugs: @tags, post_slugs: "post['tags']"} %>
    </div>

    <%= render partial: 'shared/infinite_scroll', cached: true, locals: {page_path: "recipe_load_page_path"} %>

  <% else %>
    <div class="d-flex justify-content-center">
      <div class="media align-items-center mt-4 ml-5 mr-5">
        <% #TODO: I18n ME! %>
        Error displaying recipes.
      </div>
    </div>
  <% end %>

</div>

<% end %>