<%= render partial: 'layouts/fancybox_bootstrap_fix' %>

<div id="recipes" class="content-section2">

  <% if @recipes %>

    <%= render partial: 'recipes_header' %>

    <div id="recipes-grid" class="grid">
      <%
        @recipes.each do |recipe|
      %>
        <%= render partial: 'recipes/recipe_card', locals: {recipe: recipe} %>
      <%
        end
      %>
    </div>

  <% else %>
    <div class="d-flex justify-content-center">
      <div class="media align-items-center mt-4 ml-5 mr-5">
        <% #TODO: I18n ME! %>
        Error displaying recipes.
      </div>
    </div>
  <% end %>

</div>

<script language="JavaScript">
    <% ((@page+=1)..@total_pages).each { |index| %>
    $.ajax({
        url: "<%= recipe_load_page_path(page: index, tag: @category_id) %>",
        dataType: "html",
        async: true,
        success: function (data) {
            var html = $(data);
            $('#recipes-grid').append(html);
            $('#recipes-grid').imagesLoaded( function() {
                $('.grid').masonry( 'appended', html );
            });
        }
    });
    <% } %>
</script>