<script language="JavaScript">
    //necessary for https://github.com/fancyapps/fancybox/issues/1911
    $(document).off("click.fb-start", "[data-trigger]");
</script>

<div id="recipes" class="content-section2">

  <%= render partial: 'recipes_header' %>

  <div class="grid">
    <%
      #TODO: consolidate me into a single view

      @recipes.each do |recipe|
    %>
      <%= render partial: 'recipes/recipe_card', locals: {recipe: recipe}%>
    <%
      end
    %>
  </div>

</div>