<div id="recipe-content">
  <div class="content-section2">
    <%= render partial: 'recipes_header' %>
    <iframe style="width: 100%;height: calc(100vh - 8.6rem);" src="<%=@recipe_url%>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>