<div class="p-2 row no-gutters">
  <div class="col-1">

    <%= link_to fa_icon('arrow-left') + " Back", 'javascript:history.back()' %>

  </div>
  <% if(@users) %>
  <div class="col-5">
    <%= paginate @users %>
  </div>
  <% end %>

  <%= render :partial => "find_user_form" %>

</div>