<div class="m-0 p-0 pb-2 row no-gutters">

  <% if(false) %>
  <div class="col-1">
    <%= link_to fa_icon('arrow-left') + " Back", 'javascript:history.back()' %>
  </div>
  <% end %>

  <div class="col-5">
    <% if(@users) %>
      <%= paginate @users, remote: remote_paging %>
    <% end %>
  </div>

  <%= render :partial => "users/find_user_form" %>

</div>