$("#user-form-alert").removeClass("visible invisible alert-success alert-danger");
$("#user-form-alert").html("");

<% if @current_user.valid? %>
  $("#user-form-alert").addClass("alert-success");
  $("#user-form-alert").html("Changes Saved.");

  $("#user-form-alert").addClass("visible");

  <% if(@current_user.is_eligible?) %>
    $("#learn-online-link").removeClass("d-none");
    $("#learn-online-link").addClass("d-block");

    <% if(@current_user.course_enrollments.any?) %>
      $("#my-activity-tab-link").removeClass("d-none");
      $("#my-activity-tab-link").addClass("d-block");
    <% end %>

    <% if (@new_user) %>
      $(window.location.replace("<%= learn_online_path %>"))
    <% end %>

  <% else %>
    $("#learn-online-link").removeClass("d-block");
    $("#learn-online-link").addClass("d-none");

    $("#my-activity-tab-link").removeClass("d-block");
    $("#my-activity-tab-link").addClass("d-none");

    <% if (@new_user) %>
      $(window.location.replace("<%= root_path %>"))
    <% end %>

<% end %>

<% else %>
  $("#user-form-alert").addClass("alert-danger");
  errMsg = ""
  <%
    if @current_user.errors.any?
      errMsg = "<ul>"
      @current_user.errors.each do |attr, msg|
        if @current_user.errors[attr].first == msg
          errMsg += "<li>#{attr.to_s.humanize} #{msg}</li>"
        end
      end
      errMsg += "<ul>"
    end
  %>
  $("#user-form-alert").html("Please fix the following errors:<%=errMsg.html_safe%>");
<% end %>