iziToast.destroy();

<% if @current_user.valid? %>

  var timeout = 3000;

  iziToast.success({
      title: 'Success',
      message: 'Changes saved.',
      target: '#notifications',
      timeout: timeout
  });

  $("#user-form-alert").addClass("visible");

  <% if(@current_user.is_eligible?) %>
    $("#learn-online-link").removeClass("d-none");
    $("#learn-online-link").addClass("d-block");

    <% if(@current_user.course_enrollments.any?) %>
      $("#my-activity-tab-link").removeClass("d-none");
      $("#my-activity-tab-link").addClass("d-block");
    <% end %>

  <% else %>
    $("#learn-online-link").removeClass("d-block");
    $("#learn-online-link").addClass("d-none");

    $("#my-activity-tab-link").removeClass("d-block");
    $("#my-activity-tab-link").addClass("d-none");

  <% end %>

  <% if (@new_user) %>

  setTimeout(function(){
      $(window.location.replace("<%= show_survey_path('consent-form') %>"));
  }, timeout);


  <% end %>

<% else %>

  errMsg = ""
  <%
    if @current_user.errors.any?
      errMsg = "<ul>"
      @current_user.errors.each do |attr, msg|
        if @current_user.errors[attr].first == msg
          errMsg += "<li>#{attr.to_s.humanize} #{msg}</li>"
        end
      end
      errMsg += "<ul>"
    end
  %>

  iziToast.error({
      title: 'Please fix the following errors:',
      message: "<%= errMsg.html_safe %>",
      target: '#notifications',
      timeout: false
  });

<% end %>