<div id="video-list" class="content-section2">
  <div class="pb-4" style="background-color: white;">
    <div class="d-flex justify-content-center">
      <div class="media align-items-center mt-4 ml-5 mr-5">
        <%= image_tag 'videos-icon-sm.png', class: 'd-none d-md-block mr-2', alt: 'Videos Icon', style: 'width: auto; height: 6rem;' %>
        <div class="media-body ml-4">
          <span class="content-section-title mb-0">Food Talk Educational Videos</span>
          <p class="content-section-copy-dark">Watch to increase your knowledge of food & nutrition!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid pt-3">
    <% @videos.each do |video| %>
      <%= render :partial => "videos/video_card", locals: {video: video} %>
    <% end %>
  </div>
</div>