<div class="embed-responsive embed-responsive-16by9">
  <div id="player" class="embed-responsive-item"></div>
</div>

<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: '<%=@video_id%>',
            playerVars: { 'autoplay': 1, 'controls': 0, 'iv_load_policy': 3, 'modestbranding': 1 },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
            showSurvey();
        }
    }

    function showSurvey() {
        window.location.href = '<%=@survey_url%>';
    }

</script>
