<div id="better-u-lessons-started" class="pt-2">
  <div class="media">
    <div class="media-body p-3">
      <span><%= image_tag 'better-u-logo.png', class: 'align-middle', alt: 'Better U Logo', style: 'width: 4rem; height: auto;' %></span>
      <%= render partial: "shared/elearning_continue_message", locals: {curriculum: "BETTER_U"} %>
    </div>
  </div>
  <div class="pt-3 better-u-started-grid">
    <% LearningModules::BETTER_U.each do |lesson| %>
      <%= render partial: "shared/include_learning_module_media_object", locals: {lesson: lesson} %>
    <% end %>
  </div>
</div>