<div id="food-etalk-lessons-started">
  <div class="media">
    <div class="media-body">
      <span><%= image_tag 'food-etalk-logo-med.png', class: 'align-middle', alt: 'Food eTalk Logo', style: 'width: 6rem; height: auto;' %></span>
      <%= render partial: "shared/elearning_continue_message", locals: {curriculum: "FOOD_ETALK"} %>
    </div>
  </div>
  <div class="pt-3 food-etalk-started-grid">
    <% LearningModules::FOOD_ETALK.each do |lesson| %>
      <%= render partial: "shared/include_learning_module_media_object", locals: {lesson: lesson} %>
    <% end %>
  </div>
</div>