<div class="content-section-header d-flex justify-content-center align-items-center">
  <div><%= image_tag icon, class: 'header-icon', alt: 'Post Header Icon' %></div>
  <div>
    <div class="content-section-title"><%=title%></div>
    <div class="<%= (inverse ? "content-section-copy-light" : "content-section-copy-dark") %> d-none d-md-block"><%=description%></div>
  </div>
</div>


