<div id="better-u">
  <div class="row p-4 pt-5 no-gutters" style="background-color: white;">
    <div class="col d-flex justify-content-center">
      <div class="media align-items-center">
        <%= image_tag 'better-u-logo.png', class: '', alt: 'Better U Logo', style: 'width: auto; height: 6rem;' %>
        <div class="media-body ml-4 mr-4">
          <span class="content-section-title">Better U</span>
          <p class="content-section-copy-dark mr-5">Increase your food knowledge!</p>
        </div>
      </div>
    </div>

    <% #Force next columns to break to new line at md breakpoint and down - https://getbootstrap.com/docs/4.0/layout/grid/#column-wrapping %>
    <div class="w-100 d-lg-none"></div>

    <div class="col">
      <div class="content-section-copy-dark-med text-justify">
        Food eTalk: Better U is a series of interactive sessions aimed at helping
        you identify ways to make small lifestyle choices that lead to a Better U!
        Participants receive free incentives that promote healthy eating and an
        active lifestyle. Come ready to have fun and learn!
      </div>
    </div>
  </div>
  <div class="card-group better-u-card-deck">
    <%
      LearningModules::BETTER_U.each do |lesson|
    %>
      <%= render :partial => 'learning_module_card', locals: {lesson: lesson} %>
    <%
      end
    %>
  </div>
</div>