<div id="food-etalk" class="d-flex flex-column pl-5 pr-5 pt-5">
  <div class="d-flex flex-row">
    <div class="col-5 media align-items-top">
      <%= image_tag 'food-etalk-logo-lg.png', class: 'd-flex d-sm-none d-md-block', alt: 'Food eTalk Logo', style: 'width: auto; height: 6rem;' %>
      <div class="media-body ml-3">
        <div class="content-section-title">Food eTalk</div>
        <div class="content-section-copy-dark">Make healthier food choices!</div>
      </div>
    </div>
    <div class="col-7 content-section-copy-dark-med align-items-top">
      Food eTalk is a series of interactive online classes that focus on planning healthy meals
      on a budget. Free educational and cooking items included at each session!
    </div>
  </div>

  <div class="pt-2">
    <div class="card-group better-u-card-deck">
      <%
        LearningModules::FOOD_ETALK.each do |lesson|
      %>
        <%= render :partial => 'learning_module_card', locals: {lesson: lesson} %>
      <%
        end
      %>
    </div>
  </div>
</div>

<div class="pb-5"><br>&nbsp;<br></div>

