<div id="food-etalk">
  <div class="row no-gutters p-4">
    <div class="col">
      <div class="media align-items-center">
        <%= image_tag 'food-etalk-logo-lg.png', class: '', alt: 'Food eTalk Logo', style: 'width: auto; height: 6rem;' %>
        <div class="media-body ml-4 mr-4">
          <span class="content-section-title">Food eTalk</span>
          <p class="content-section-copy-dark">Make healthier food choices!</p>
        </div>
      </div>
    </div>

    <div class="w-100 d-md-none d-lg-none mt-2"></div>

    <div class="col">
      <div class="content-section-copy-dark-med align-items-top text-justify">
        Food eTalk is a series of interactive online classes that focus on planning healthy meals
        on a budget. Free educational and cooking items included at each session!
      </div>
    </div>
  </div>

  <div class="pt-2">
    <div class="card-columns food-etalk-card-deck">
      <%
        LearningModules::FOOD_ETALK.each do |lesson|
      %>
        <%= render :partial => 'learning_module_card', locals: {lesson: lesson} %>
      <%
        end
      %>
    </div>
  </div>
</div>