<div id="food-etalk" class="mt-4">
  <div class="row p-4 no-gutters" style="background-colorz: white;">
    <div class="col">
      <div class="media align-items-center">
        <%= image_tag 'food-etalk-logo-lg.png', class: '', alt: 'Food eTalk Logo', style: 'width: auto; height: 6rem;' %>
        <div class="media-body ml-4 mr-4">
          <span class="content-section-title">Food eTalk</span>
          <p class="content-section-copy-dark mr-5">Make healthier food choices!</p>
        </div>
      </div>
    </div>

    <% #Force next columns to break to new line at md breakpoint and down - https://getbootstrap.com/docs/4.0/layout/grid/#column-wrapping %>
    <div class="w-100 d-lg-none"></div>

    <div class="col">
      <div class="content-section-copy-dark-med text-justify">
        Food eTalk is a series of interactive online classes that focus on planning healthy meals
        on a budget. Free educational and cooking items included at each session!
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="card-columns food-etalk-card-deck">
      <%
        LearningModules::FOOD_ETALK.each do |lesson|
      %>
        <%= render :partial => 'learning_module_card', locals: {lesson: lesson} %>
      <%
        end
      %>
    </div>
  </div>
</div>