<div class="card module-grid-item mr-2 mb-2 pt-1 pl-2 pb-1">
  <div class="card-title">
    <%= link_to(lesson[:title], launch_module_path(lesson[:id]), data: { lity: '' } ) %>
  </div>
  <div class="media">
    <%= link_to(image_tag(lesson[:img_path], class: 'rounded', alt: "#{lesson[:id]} Cap", style: 'height: auto; width: 4rem;'), launch_module_path(lesson[:id]), data: { lity: '' }, class: 'mr-2' ) %>
    <div class="media-body mr-4">
      <div class="small card-text text-justify mb-2">
        <%= truncate(lesson[:description], escape: true, separator: ' ', omission: '... ', length: 150) %>
      </div>
    </div>
  </div>
</div>