<div class="card-title">
  <%= link_to lesson[:title], launch_module_path(lesson[:id]), {"data-vbtype"=>'iframe', "data-autoplay"=>'true', "class"=>'venobox'} %>
</div>
<div class="media">
  <%= link_to image_tag(lesson[:img_path], class: '', alt: 'Lesson 1 Cap', style: 'height: auto; width: 4rem;'), launch_module_path(lesson[:id]), {"data-vbtype"=>'iframe', "data-autoplay"=>'true', "class"=>'venobox align-self-center mr-3 border border-secondary rounded'} %>
  <div class="media-body">
    <div class="card-text text-justify mb-2"><%=lesson[:description].html_safe%></div>
  </div>
</div>