<div id="lessons" class="container-fluid">
  <div class="row content-section2 pt-4">
    <div class="col">
      <%= render :partial => "better-u" %>
      <%= render :partial => "food-etalk" %>
    </div>
  </div>
</div>