<div id="lessons" class="row content-section2 d-flex justify-content-center pt-2">
  <%= render :partial => "better-u" %>
  <p class="scroll-down-for-more">
    <%= fa_icon "arrow-circle-o-down" %> Please scroll down for additional content <%= fa_icon "arrow-circle-o-down" %>
  </p>
  <%= render :partial => "food-etalk" %>
</div>