<div id="learn-online-content">
  <div class="content-section2 flex-fill">
    <iframe style="width: 100%;height: calc(100vh - 8.6rem);" src="<%=@module_url%>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>