<div class=" d-flex justify-content-center mx-auto content-section-item">
  <p class="lessons-copy text-justify">Our FoodTalk eTalk Better U Lessons will further help you to meet your nutrition goals.</p>
</div>

<div class="better-u-card-deck d-flex mx-auto justify-content-center">
  <div class="card-deck">

    <div class="card ">
      <%= image_tag 'keeping-track-cap.jpg', class: 'card-img-top', alt: 'Keeping Track Cap' %>
      <div class="card-block">
        <div class="h5 text-center mt-2">
          Keeping Track
        </div>
        <p class="card-text text-justify p-2">One of the best ways to manage your weight and nutrition health is to watch the portion size of your foods. Learn how to correctly measure different foods and some helpful tips to Keeping Track of how much you’re eating and drinking.</p>
      </div>
      <div class="card-footer text-center">
        <a href="/foodtalk_lessons/keeping-track/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
      </div>
    </div>


    <div class="card ">
      <%= image_tag 'no-thanks-im-sweet-enough-cap.jpg', class: 'card-img-top', alt: "No Thanks I'm Sweet Enough Cap" %>
      <div class="card-block">
        <div class="h5 text-center mt-2">
          No Thanks I'm Sweet Enough
        </div>
        <p class="card-text text-justify p-2">Did you know decreasing the amount of sugar you eat and drink could help prevent unwanted weight gain? Check out this short lesson to learn how you can decrease the sugar in your whole family’s meals and snacks. </p>
      </div>
      <div class="card-footer text-center">
        <a href="/foodtalk_lessons/no-thanks-im-sweet-enough/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
      </div>
    </div>


    <div class="card ">
      <%= image_tag 'small-changes-equal-big-results-cap.jpeg', class: 'card-img-top', alt: 'Small Changes = Big Results Cap' %>
      <div class="card-block">
        <div class="h5 text-center mt-2">
          Small Changes = Big Results
        </div>
        <p class="card-text text-justify p-2">Changing your entire diet sounds overwhelming right? Never fear -- following some of the tips in this lesson, you can make small shifts in what your family is already eating and see big results in their health and nutrition.</p>
      </div>
      <div class="card-footer text-center">
        <a href="/foodtalk_lessons/small-changes-equal-big-results/story.html" data-vbtype="iframe" data-autoplay="true" class="venobox btn btn-primary">Learn More</a>
      </div>
    </div>

  </div>
</div>