<div id="featured-blogs" class="content-section2">
  <div class="d-flex justify-content-center">
    <div class="media pt-4 pl-4 pr-4 align-items-center">
      <%= image_tag 'blog-icon-med.png', class: 'd-none d-md-block mr-4', alt: 'Recipe Card Icon', style: '' %>
      <div class="media-body">
        <span class="content-section-title">Featured Blogs</span>
        <p class="content-section-copy-dark">Read interesting & informative articles by Food Talk experts! </p>
      </div>
    </div>
  </div>

  <%= render :partial => "blogs/list_demo_blogs" %>

  <div class="content-section-copy-light recipe-copy text-center pt-4 pb-4">
    <%= link_to "View All Blogs", blogs_index_path %>
  </div>

</div>