<div id="recipes" class="content-section row">
  <div class="col">

    <div class="d-flex justify-content-center mx-auto content-section-item">
      <div class="media content-section-header">
        <%= image_tag 'logo-med.png', class: 'd-flex d-sm-none d-md-block', alt: 'FoodTalk.org Logo' %>
        <div class="media-body ml-3">
          <span class="content-section-title">Featured Recipes</span>
          <p class="content-section-copy-light">Healthy, Delicious, Affordable!</p>
        </div>
      </div>
    </div>



    <div id="recipesCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">

      <div class="carousel-inner" role="listbox">
        <%
          #TODO: FIX ME!  We want Featured Recipes Here
          #TODO: AJAXIFY ME!
          #TODO: put me in a helper
          per_page = 3
          total_pgs = Recipe.page(1).per(per_page).total_pages
          total_pgs_to_show = 2
          i = 1
          while i <= total_pgs_to_show && i <= total_pgs
            @recipes = Recipe.page(i).per(per_page)
        %>
            <div class="carousel-item <%= 'active' if i == 1%>">


              <div class="d-flex mx-auto justify-content-center content-section-item">
                <div class="card-deck recipes-deck">
                <%= render :partial => "recipes/list_recipes" %>
                </div>
              </div>
            </div>
        <%
          i += 1
          end
        %>

        <a class="carousel-control-prev" href="#recipesCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#recipesCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

    <div class="justify-content-center mx-auto content-section-item">
      <div class="content-section-copy-light recipe-copy text-center">
        Our FoodTalk recipes contain delicious, healthy, and inexpensive meal ideas for your whole family to enjoy!<br><%= link_to "Click Here", recipes_path %> to browse our entire catalog.
      </div>
    </div>

    <% render partial: "welcome/scroll-down-for-more" %>

  </div>

</div>
