<p class="scroll-down-for-more-light d-flex flex-row mx-auto justify-content-center content-section-item align-items-center">
  <%= fa_icon "arrow-down", class: 'pr-2' %>  Scroll down for more content  <%= fa_icon "arrow-down", class: 'pl-2' %>
</p>