<% cache [create_cache_key_prefix, "recent-videos"], :expires_in => 1.day do %>
  <div id="featured-videos" class="content-section2">
    <% if !@videos["items"].blank? %>
      <%= render partial: "shared/videos_title_block", locals: {title: t("welcome.videos.title"), description: t("welcome.videos.description")} %>
      <div class="mx-auto grid">
        <div class="d-flex mx-auto mt-4">
          <%= render partial: 'videos/video', collection: @videos["items"].last(3), cached: false %>
        </div>
      </div>
      <div class="view-all-link text-center">
        <%= link_to t("navigation.view_all_videos"), videos_path %>
      </div>
    <% end %>
  </div>
<% end %>