<div class="content-section">

  <div class="d-flex flex-row justify-content-center mx-auto">
    <span class="featured-recipes-title">Featured Recipes</span>
  </div>

  <div class="d-flex flex-row mx-auto justify-content-center">

    <div class="card-deck">
      <div class="recipe-card card text-center">
        <%= image_tag 'summer_corn_salad-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Summer Corn Salad</h4>
          <p class="card-text">Farmers Market Recipe: Summer Corn Salad</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="recipe-card card text-center">
        <%= image_tag 'summer_corn_salad-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Summer Corn Salad</h4>
          <p class="card-text">Farmers Market Recipe: Summer Corn Salad</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="recipe-card card text-center">
        <%= image_tag 'summer_corn_salad-thumbnail.jpg', class: 'card-img-top', alt: 'Summer Corn Salad Cap' %>
        <div class="card-block">
          <h4 class="card-title">Summer Corn Salad</h4>
          <p class="card-text">Farmers Market Recipe: Summer Corn Salad</p>
          <p class="card-text">Category <small class="text-muted">Less than $5 meals</small></p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>

</div>

<p class="d-flex flex-row justify-content-center mx-auto content-section">
  Blah blah blah.  Blah Blah.  Blah blah blah blah. Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
  Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
  Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
  Blah blah blah.  Blah Blah.  Blah blah blah blah.

  Blah blah blah.  Blah Blah.  Blah blah blah blah. Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
  Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
  Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.Blah blah blah.  Blah Blah.  Blah blah blah blah.
  Blah blah blah.  Blah Blah.  Blah blah blah blah.
</p>
