@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Lato:100,300,700,900|Roboto+Slab|Roboto:300|Source+Sans+Pro:600');

$caveat-brush: Caveat Brush, cursive;
$lato: Lato, sans-serif;
$roboto: Roboto, sans-serif;
$roboto-slab: Roboto Slab, serif;
$source-sans-pro: Source Sans Pro, sans-serif;