a, a:link a:visited, a:hover, a:active {
  color: $primary-fill-color;
  text-decoration:  none;
}


.btn, .btn-primary, .btn-secondary {
  background-color: $primary-fill-color;
  color: $primary-font-inverse-color;
  border: none;
  text-decoration: none;
}


//bootstrap puts blue outline around clicked buttons and makes the link color blue w/ underline
.btn:focus, .btn:active, .btn-primary:focus, .btn-primary:active, .btn-secondary:focus, .btn-secondary:active  {
  outline: none !important;
  box-shadow: none !important;
  color: $primary-font-inverse-color;
  //border: none;
  text-decoration: none;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open, .dropdown-toggle.btn-primary, .btn-primary:active:focus {
  background-color: $primary-fill-color !important;
}


.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary:active:focus {
  color: $primary-fill-color;
  border-color: $primary-fill-color;
  background-color: $primary-font-inverse-color;
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-shadow-color;
  outline: 0 none;
}


textarea, input, input[type], .uneditable-input {
  border-color: rgba(226,79,44, .6);
  //outline: 0 none;
}


.remove-all-margin-padding{
  margin:0 ! important;
  padding:0 ! important;
}


/**
 * Bootstrap Overrides
 */
.card-title {
  color: $secondary-font-color;
  font-family: $roboto-slab;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}



/////////////////////////////////////////////////
// body styles  /////////////////////////////////////////////////
/////////////////////////////////////////////////

/**
 * Header & Navigation Elements
 */

.logo {
  margin-left: 4rem;
  margin-right: 4rem;
}

.top-nav {
  min-height: 4rem; //don't set absolute height or collapsible nav won't work right
}

/* change navbar background */
nav.navbar, .navbar-collapse {
  background-color: $primary-fill-color;
}
/* change navbar-brand color */
.navbar a.navbar-brand {
  //color: floralwhite;
}
/* change navbar-brand color on hover */
.navbar a.navbar-brand:hover {
  //color: green;
}
/*  change navbar li colors, also active one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: $primary-font-inverse-color;

  font-family: $roboto-slab;

  @include media-breakpoint-only(xs) {
    font-size: .75rem;
  }
  @include media-breakpoint-only(sm) {
    font-size: .85rem;
  }
  @include media-breakpoint-only(md) {
    font-size: 1rem;
  }
  @include media-breakpoint-only(lg) {
    font-size: 1.1rem;
  }
  @include media-breakpoint-only(xl) {
    font-size: 1.15rem;
  }

}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='floralwhite' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: $primary-font-inverse-color;
}

/* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
  border-color: $primary-font-inverse-color;
}

/* change navbar background on collapse */
//@media (max-width: 768px) {
//  nav.navbar {
//background: lightgray;
//  }
//}


@include media-breakpoint-up(md) {
  .top-nav {
    position: sticky;
  }
}

@include media-breakpoint-down(sm) {
  .top-nav {
    position: fixed;
    width: 100%;
  }
}


.search-box {
  padding: 1rem;
  height: auto;
  width: 20.2rem;
}




/**
 * Content
 */

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  //background-image: url('https://images.unsplash.com/photo-1470549813517-2fa741d25c92');
  background-image:asset-url('veggie-spread-bg');

  background-size:cover;
  width: 100%;
  height: 100%;
  height:calc(100% - 0px);

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content-section, .content-section2, .content-section3 {
  min-height:100vh;

  @include media-breakpoint-up(med) {

  }
}

.content-section {
  background: rgba($content-section-bg-color, 0.5);
}

.content-section2 {
  background: rgba($content-section2-bg-color, 0.9);
}

.content-section3 {
  background: rgba($content-section3-bg-color, 0.8);
}

.content-section-item {
  //padding-top: 2.8rem;
}

.content-section-header {
  padding-top: 5rem;
}

.content-section-title {
  font-family: $roboto-slab;
  //color: rgba(155, 116, 49, 1);
  color: $content-section-title;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.content-section-copy-dark, .content-section-copy-light, .content-section-copy-dark-med, .content-section-copy-light-med {
  font-family: $roboto;
}

.content-section-copy-dark, .content-section-copy-light {
  font-weight: 500;
  font-size: 1.75rem;
}

.content-section-copy-dark-med, .content-section-copy-light-med {
  font-weight: 500;
  font-size: 1.3rem;
}

.content-section-copy-dark, .content-section-copy-dark-med {
  color: #000000;
}

.content-section-copy-light, .content-section-copy-light-med {
  color: $primary-font-inverse-color;
}

/**
 * Footer
 */

.footer {
  padding-left: 10rem;
  padding-right: 10rem;
  background: rgba($footer-bg-color, 0.5);
}

.footer-slogan-title {
  color: $primary-font-inverse-color;
  font-size: 2rem;
  font-weight: 500;
  width: auto;
}

.footer-slogan-copy {
  color: $primary-font-inverse-color;
  font-weight: 400;
}

.sm-icon-group i {
  font-size: 1.75rem;
}

.uga-logo-copy {
  font-family: $roboto;
  font-size: .9rem;
  font-weight: 800;
  line-height: 0.5;
}


