a, a:link a:visited, a:hover, a:active {
  color: $primary-fill-color;
  text-decoration:  none;
}


.btn, .btn-primary, .btn-secondary {
  background-color: $primary-fill-color;
  color: $primary-font-inverse-color;
  border: none;
  text-decoration:  none;
}


//bootstrap puts blue outline around clicked buttons and makes the link color blue w/ underline
.btn:focus, .btn:active, .btn-primary:focus, .btn-primary:active, .btn-secondary:focus, .btn-secondary:active  {
  outline: none !important;
  box-shadow: none !important;
  color: $primary-font-inverse-color;
  //border: none;
  text-decoration:  none;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open, .dropdown-toggle.btn-primary, .btn-primary:active:focus {
  background-color: $primary-fill-color;
}


.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary:active:focus {
  color: $primary-fill-color;
  border-color: $primary-fill-color;
  background-color: $primary-font-inverse-color;
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-shadow-color;
  outline: 0 none;
}


textarea, input, input[type], .uneditable-input {
  border-color: rgba(226,79,44, .6);
  //outline: 0 none;
}


.remove-all-margin-padding{
  margin:0 ! important;
  padding:0 ! important;
}



