#content {
  min-height: calc(100vh - #{$top-nav-height} - #{$footer-height});

  //width: 100vw;
  //border: solid 1px yellow;
  //height: 100vh;
  width: 100%;
  //background: rgba($content-section2-bg-color, 0.9);
  padding: 0;
  margin: 0;
}


.lity-active,
.lity-active body {
  overflow: hidden;
}
.lity-inline .lity-content > * {
  max-height: none !important;
}
.lity-inline .lity-wrap {
  overflow: auto;
}
.lity-inline .lity-content {
  margin: 20px 0;
}


.header-icon {
  width: 10%;
  height: auto;
  margin-right: 1rem;
  margin-left: 10%;

  @include media-breakpoint-up(xl) {
  }

  @include media-breakpoint-only(lg) {
  }

  @include media-breakpoint-up(md) {

  }

  @include media-breakpoint-only(sm) {
  }
}


#notifications {
  padding: 0;
  margin: 0;
  background-color: white;
}


.white-bg {
  background-color: white;
}


.content-section, .content-section2, .content-section3 {
  //min-height: 100vh;
  //calc(100vh - 130px);
}

.content-section {
  background: rgba($content-section-bg-color, 0.5);
}

.content-section2 {
  background: rgba($content-section2-bg-color, 0.84);
}

.content-section3 {
  background: rgba($content-section3-bg-color, 0.8);
}


.content-section-header {
  padding-top: 1rem;
  @include media-breakpoint-up(md) {

  }

  @include media-breakpoint-only(md) {
  }

  @include media-breakpoint-down(sm) {
  }

}

.content-section-title {

  font-family: $roboto-slab;
  //color: rgba(155, 116, 49, 1);
  color: $content-section-title;

  @include media-breakpoint-only(xl) {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  @include media-breakpoint-only(md) {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  @include media-breakpoint-only(sm) {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
}


.content-section-copy-dark, .content-section-copy-light, .content-section-copy-dark-med, .content-section-copy-light-med {
  font-family: $roboto;

  @include media-breakpoint-only(xl) {
    font-size: 2rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.8rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(md) {
    font-size: 1.6rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(sm) {
    font-size: 1.4rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1.2rem;
    font-weight: 400;
  }

}


.content-section-copy-dark, .content-section-copy-dark-med {
  color: #000000;
}


.content-section-copy-light, .content-section-copy-light-med {
  color: $primary-font-inverse-color;
}






.categories-title {
  font-family: $source-sans-pro;

  @include media-breakpoint-only(xl) {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  @include media-breakpoint-only(md) {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
}


.view-all-link {
  text-align: justify;
  font-family: $roboto-slab;
  font-size: 1.5rem;
  font-weight: 300;

  @include media-breakpoint-only(xl) {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @include media-breakpoint-only(md) {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include media-breakpoint-only(sm) {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}


.grid {
  margin: 0 auto;
}


.grid-item {
  margin: 1rem;
}


.card-footer-text {
  @include media-breakpoint-down(sm) {
    font-weight: 500;
    font-size: .35rem;
    text-decoration-color: #00d4ff;
  }
}

.card {
  @include media-breakpoint-down(sm) {
    width: 7rem;
  }
  @include media-breakpoint-up(md) {
    width: 20rem;
  }
}


.sm-badge-group {
  font-size: 1.1rem;
}