.hero {
  background-image:asset-url('chopping-board-with-veggies.jpg');
  background-size:cover;

  @include media-breakpoint-up(md) {
    //height:100vh;
    padding-left: 0rem;
    padding-top: 0rem;
    align-items: center;
  }

  @include media-breakpoint-down(sm) {
    height: 100%;
    width: 100%;
  }
}

.hero-content {
  @include media-breakpoint-up(md) {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 50px 0px 0px 10px;
    background: rgba($primary-fill-color, .8);
  }

  @include media-breakpoint-down(sm) {
    background: rgba(0, 0, 0, .5);
  }

  @include media-breakpoint-only(sm) {
    padding: 1rem;
  }

  @include media-breakpoint-only(xs) {
    padding: 1rem;
    margin-top: 0rem;
  }
}

.hero-title, .hero-copy {
  font-family: $lato;
}

.hero-title {
  color: $hero-title;

  @include media-breakpoint-up(xl) {
    font-size: 2.2rem;
    font-weight: 900;
  }

  @include media-breakpoint-only(lg) {
    font-size: 2rem;
    font-weight: 800;
  }

  @include media-breakpoint-only(md) {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @include media-breakpoint-only(sm) {
    font-size: 1.6rem;
    font-weight: 600;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1.3rem;
    font-weight: 600;
  }

}

.hero-subtitle {
  color: $hero-subtitle;
  font-family: $source-sans-pro;

  @include media-breakpoint-only(xl) {
    font-size: 2.5rem;
    font-weight: 600;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.5rem;
    font-weight: 600;
  }

  @include media-breakpoint-only(md) {
    font-size: 1.2rem;
    font-weight: 300;
  }

  @include media-breakpoint-only(sm) {
    font-size: 1.3rem;
    font-weight: 300;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1.1rem;
  }

}

.hero-copy {
  color: $primary-font-inverse-color;

  @include media-breakpoint-only(xl) {
    font-size: 2.5rem;
    font-weight: 300;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.5rem;
    font-weight: 300;
  }

  @include media-breakpoint-only(md) {
    font-size: 1.25rem;
    font-weight: 300;
  }

  @include media-breakpoint-only(sm) {
    font-size: 1.4rem;
    font-weight: 300;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1rem;
    font-weight: 300;
  }

}

.scroll-down-for-more {
  color: $primary-font-color;
  font-family: $caveat-brush;

  @include media-breakpoint-only(xl) {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: .8rem;
  }

  @include media-breakpoint-only(lg) {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: .7rem;
  }

  @include media-breakpoint-only(md) {
    font-weight: 300;
    font-size: 1.5rem;
    padding-bottom: .6rem;
  }

  @include media-breakpoint-only(sm) {
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: .5rem;
  }

  @include media-breakpoint-only(xs) {
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: .4rem;
  }

}

.scroll-down-for-more a,  .scroll-down-for-more a:hover,  .scroll-down-for-more a:active {
  color: $primary-font-color;
}

/**
 * Misc
 */

.arrow {
  font-size:2.4rem;
  @include media-breakpoint-up(xl) {
  }

  @include media-breakpoint-only(lg) {
  }

  @include media-breakpoint-only(md) {
  }

  @include media-breakpoint-only(sm) {
  }
}


.search-box {
  padding: 1rem;
  height: auto;
  width: 20.2rem;
}