html {
  background: asset-url('veggie-spread-bg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a, a:link a:visited, a:hover, a:active {
  color: $primary-fill-color;
  text-decoration:  none;
}

cite {

  @include media-breakpoint-only(xl) {
    font-size: 1.2rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.1rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(md) {
    font-size: 1rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(sm) {
    font-size: .8rem;
    font-weight: 400;
  }

  @include media-breakpoint-only(xs) {
    font-size: .6rem !important;
    line-height: 1rem !important;
  }
}




.white-link {
  color: $primary-font-inverse-color;
  text-decoration:  none;
}



textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-shadow-color;
  outline: 0 none;
}

textarea, input, input[type], .uneditable-input {
  border-color: $primary-fill-color;
  outline: 0 none;
}