html {
  background: asset-url('veggie-spread-bg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(255, 255, 255, 0);
}


a, a:link a:visited, a:hover, a:active {
  color: $primary-fill-color;
  text-decoration:  none;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-shadow-color;
  outline: 0 none;
}

textarea, input, input[type], .uneditable-input {
  border-color: $primary-fill-color;
  outline: 0 none;
}