.glossary-image img {
  object-fit: cover;

  @include media-breakpoint-only(xs) {
    height:5rem;
    width:5rem;
  }
  @include media-breakpoint-only(sm) {
    height:6.5rem;
    width:6.5rem;
  }
  @include media-breakpoint-only(md) {
    height:8rem;
    width:8rem;
  }
  @include media-breakpoint-only(lg) {
    height:9rem;
    width:9rem;
  }
  @include media-breakpoint-only(xl) {
    height:10rem;
    width:10rem;
  }
}

.glossary-card {

  @include media-breakpoint-only(xs) {
    width: auto;
  }
  @include media-breakpoint-only(sm) {
    width: auto;
  }
  @include media-breakpoint-only(md) {
    width: auto;
    margin-bottom: .5rem;
  }
  @include media-breakpoint-only(lg) {
    width: 60rem;
  }
  @include media-breakpoint-only(xl) {
    width: 60rem;
  }

}

.glossary-card .card-footer {
  background-color: white;
}

.glossary-card .card-title {
  margin-left: 1rem;
}

.glossary-description {
  width: 80%;
}

.glossary-description-copy {
  font-family: $roboto-slab;
  font-size: 1.5rem;
  font-weight: 300;
}