#learn-online-content {
  min-height: calc(100vh - 8.2rem);
}


.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.fancybox-slide--iframe .fancybox-content {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.fancybox-slide--iframe .fancybox-content {
  @include media-breakpoint-up(xs) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(xl) {
    max-width  : 90%;
    max-height : 90%;
  }
}

.lessons-card-columnssss {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 4;
  }
  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
  @include media-breakpoint-up(xl) {
    column-count: 6;
  }
}

.lessons-card-columns .card-header {
  background-color: $primary-fill-color;
  color: $primary-font-inverse-color;
}

.lessons-card-columns .card {
  margin-bottom: 1rem;
}

.lessons-card-columnssssss .card {

  @include media-breakpoint-up(xs) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(sm) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(md) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(lg) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(xl) {
    max-width: 20rem;
  }
}


.better-u-card-deck {
  width: auto;
}

.food-etalk-card {
  @include media-breakpoint-down(sm) {
    width: 12rem;
  }
  @include media-breakpoint-up(md) {
    min-width: 15rem;
    max-width: 20rem;
  }
}

.better-u-card {
  @include media-breakpoint-down(sm) {
    width: 12rem;
  }
  @include media-breakpoint-up(md) {
    min-width: 15rem;
    max-width: 20rem;
  }
}


.learn_online_media_object {

  @include media-breakpoint-only(xl) {
    min-height: 8rem;
    width: 22rem;
    img {
      height: auto;
      width: 5rem;
    }
    .card-title {
      line-height: 2rem;
      font-size: .9rem;
    }
    .card-text {
      font-size: .95rem;
      line-height: 1.2rem;
    }
  }

  @include media-breakpoint-only(lg) {
    min-height: 7.5rem;
    width: 21.75rem;
    img {
      height: auto;
      width: 4.5rem;
    }
    .card-title {
      line-height: 1.9rem;
      font-size: .9rem;
    }
    .card-text {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

  @include media-breakpoint-only(md) {
    min-height: 6.75rem;
    width: 20.75rem;
    img {
      height: auto;
      width: 4rem;
    }
    .card-title {
      line-height: 1.85rem;
      font-size: .85rem;
    }
    .card-text {
      font-size: .91rem;
      line-height: 1.1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    min-height: 6rem;
    width: 19.5rem;
    img {
      height: auto;
      width: 3.7rem;
    }
    .card-title {
      line-height: 1.75rem;
      font-size: .8rem;
    }
    .card-text {
      font-size: .9rem;
      line-height: 1rem;
    }
  }

  @include media-breakpoint-down(xs) {
    min-height: 5.5rem;
    width: 18.5rem;
    img {
      height: auto;
      width: 3.6rem;
    }
    .card-title {
      line-height: 1.5rem;
      font-size: .75rem;
    }
    .card-text {
      font-size: .85rem;
      line-height: .95rem;
    }
  }

}