#maps-content {
   min-height: calc(100vh - 8.2rem);
 }

.map-card {
  @include media-breakpoint-only(xl) {
    width: 19rem;
    min-height: 18rem;

    .card-title {
      min-height: 5rem;
      font-size: 1.2rem;
    }
  }

  @include media-breakpoint-only(lg) {
    width: 18rem;
    min-height: 15rem;

    .card-title {
      min-height: 4rem;
      font-size: 1.1rem;
    }
  }

  @include media-breakpoint-only(md) {
    width: 16rem;
    min-height: 13rem;

    .card-title {
      min-height: 3rem;
      font-size: .8rem;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 14rem;
    min-height: 12rem;

    .card-title {
      min-height: 3.5rem;
      padding: 0rem;
      font-size: .8rem;
    }
  }

  @include media-breakpoint-down(xs) {
    min-height: 11rem;
    max-width: 10rem;

    .card-title {
      min-height: 3.1rem;
      padding: .1rem;
      font-size: .7rem;
    }
  }

}