#surveys-content-full {
  height: calc(100vh - 8.2rem);
}

#surveys-content-popup {
  height: 100vh;
}

#survey-iframe {
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0 auto;

  border: none;
}