// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  //display: block;
  background-image: url('https://images.unsplash.com/photo-1470549813517-2fa741d25c92');
  //background-image:asset-url('usda-food-and-nutrition-landing');

  background-size:cover;
  width: 100%;
  height: 100%;
  height:calc(100% - 0px);

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.content {
  //position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}
.content-section {
  padding-top: .5rem;
  padding-bottom: 6rem;
  background: rgba(255, 255, 255, 0.5);
}

.content-section2 {
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.content-section-block {
  padding-top: 1rem;
}


.content-section-header {
}


.content-section-title {
  font-family: 'Tangerine', serif;
  color: rgba(155, 116, 49, 1);
  //color: black;
  font-size: 4.5rem;
  font-weight: bolder;
}

.footer {
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  background: rgba(76, 175, 80, 0.5);
}


.navbar {
  background: rgba(155, 116, 49, 0.9);
}

.navbar-nav {
  font-weight: 900;
  //border: solid 1px black;
}

.navbar-brand, .navbar-brand img {
  padding: 0;
  margin: 0;
}

.hero {
  //padding-left: 10rem;
  padding-top: 2rem;
  padding-bottom: 2em;
  background: rgba(0,0,0, 0.3);

  //background-image: url('https://images.unsplash.com/photo-1470549813517-2fa741d25c92');
}

.hero-content {
  width: 74rem;
//  background: rgba(255, 255, 255, 0.3);
//  padding: 4rem;
}

.slogan-title {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  width: auto;
}

.slogan-copy {
  color: black;
  font-size: 1rem;
  font-weight: 900;
  font-style: italic;
  width: auto;
}


.foodtalk-logo {
  margin-right: 3rem;
}

.footer-slogan-title {
  color: beige;
  font-size: 2rem;
  font-weight: 500;
  width: auto;
}

.footer-slogan-copy {
  color: white;
  font-weight: 400;

}

.card-deck, .card-group {
  width: 50rem;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.recipe-card {

}


.facebook-feed {
  max-width: 50rem;
}


.uga-snap-ed-address {
  width: 20rem;
  text-align: center;
}


//TODO: delete me?
.uga-extension-image {

  height: 50%;
  width: 50%;
}

.uga-extension-slogan {
  text-align: left;
  font-size: .75rem;
}