/////////////////////////////////////////////////
// header styles  ///////////////////////////////
/////////////////////////////////////////////////


/**
 * Hero
 */

.hero {
  background-image:asset-url('chopping-board-with-veggies.jpg');
  background-size:cover;
}

/**
 * Scroll Down Prompt
 */

.scroll-down-for-more, .scroll-down-for-more-light {
  font-family: $caveat-brush;
}

.scroll-down-for-more {
  color: $primary-font-color;
}

.scroll-down-for-more-light {
  color: $primary-font-inverse-color;
}

.hero-title, .hero-copy {
  font-family: $lato;
}

.hero-title {
  color: $hero-title;
}

.hero-subtitle {
  color: $hero-subtitle;
  font-family: $source-sans-pro;
}

.hero-copy {
  color: $primary-font-inverse-color;
}

.hero img.logo {
  margin: 0;
  padding: 0;
}


/**
 * Responsive Styles
 */

@include media-breakpoint-up(md) {
  .hero {
    height:100vh;
    padding-left: 0rem;
    padding-top: 0rem;
    align-items: center;
  }
  .hero-content {
    border-radius: 50px 0px 0px 10px;
    background: rgba($primary-fill-color, .8);
  }
}

@include media-breakpoint-down(sm) {
  .hero {
    height:auto;
    align-items: center;
  }
  .hero-content {
    height:100vh;
    width: 100vh;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgba(0, 0, 0, .6);
  }
}


@include media-breakpoint-up(xl) {
  .hero-title {
    font-size: 3rem;
    font-weight: 900;
  }
  .hero-copy {
    font-size: 2rem;
    font-weight: 300;
  }
  .hero-subtitle {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .scroll-down-for-more, .scroll-down-for-more-light {
    font-weight: 400;
    font-size: 4rem;
  }
}

@include media-breakpoint-only(lg) {
  .hero-title {
    font-size: 2.75rem;
    font-weight: 700;
  }
  .hero-copy {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .scroll-down-for-more, .scroll-down-for-more-light {
    font-weight: 300;
    font-size: 2rem;
  }
}

@include media-breakpoint-up(md) {
  .hero-content {
    padding: 2rem;
    border-radius: 50px 0px 0px 10px;
    background: rgba($primary-fill-color, .8);
  }
}






@include media-breakpoint-only(md) {
  .hero-title {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .hero-copy {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .hero-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .scroll-down-for-more, .scroll-down-for-more-light {
    font-weight: 300;
    font-size: 1.5rem;
  }
}

@include media-breakpoint-only(sm) {
   .hero-title {
     font-size: 2rem;
     font-weight: 600;
   }
   .hero-copy {
     font-size: 1.75rem;
     font-weight: 300;
   }
  .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }
 }

@include media-breakpoint-down(sm) {
  .scroll-down-for-more, .scroll-down-for-more-light {
    color: $primary-font-inverse-color;
    font-weight: 300;
    font-size: 1.75rem;
  }
}

@include media-breakpoint-only(xs) {
  .hero-title {
    font-size: 2rem;
    font-weight: 600;
  }
  .hero-copy {
    font-size: 1.75em;
    font-weight: 300;
  }
  .hero-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }
}




/**
 * Facebook Feed
 */


.fb-feed {
  background-image:asset-url('fb-background.png');
  background-size:cover;
}

.fb-feed-jumbotron {
  background: rgba($primary-fill-color, .6);
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 4rem;
}

.fb-feed-content {
  max-width: 70%;
  //margin-left: 15rem;
  //margin-top: 2rem;
}


.fb-feed-copy {
  color: $primary-font-inverse-color;

  font-family: $lato;
  font-size: 1.5rem;
  font-weight: 400;
  width: auto;
}

.fb-feed-copy a, .fb-feed-copy a:hover, .fb-feed-copy a:visited {
  color: $primary-font-inverse-color;
  text-decoration: underline;
}







/**
 * Recipes & Online Lessons
 */

#recipes {

}

.recipe-copy {
  text-align: justify;
  font-family: $roboto-slab;
  font-size: 1.5rem;
  font-weight: 300;
}

//TODO: need to fix media-breakpoint-* for bootstrap4
@include media-breakpoint-up(md) {
  .recipe-copy {
    maxwidth: 70%;
  }
}

@include media-breakpoint-up(lg) {
  .recipes-deck {
    max-width: 70vw;
  }
  .recipes-deck .card {
    #max-height: 70vw;
  }

}

@include media-breakpoint-down(md) {
  .recipes-deck {
    max-width: 100vw;
  }
}




.card-header {
  font-family: $lato;
  font-weight: 700;
}

.card-text {
  font-family: $lato;
  font-weight: 300;
}


.card-img-top {
  max-width: 100%;
  height: auto;
}


.card-columns {
  //according to bootstrap4 docs: https://v4-alpha.getbootstrap.com/components/card/#card-columns
  // "Heads up! Your mileage with card columns may vary. To prevent cards breaking across columns, we must set them to display: inline-block as column-break-inside: avoid isn’t a bulletproof solution yet."
  //
  //However, this adds huge margins to top and bottom and jacks up the display!
  //display: inline-block;
  //maybe this is supposed to be put on the individual card???
}



.card-columns {

  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 3;
  }
  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
  @include media-breakpoint-up(xl) {
    column-count: 5;
  }

}




.lessons-card-columns .card, .recipes-deck .card {
  //min-height: 30rem;
  margin-bottom: 1rem;
}

.recipes-deck {
  padding-top: 2rem;
}

.lessons-card-columnssss {
  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    column-count: 4;
  }
  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
  @include media-breakpoint-up(xl) {
    column-count: 6;
  }
}

.lessons-card-columns .card-header {
  background-color: $primary-fill-color;
  color: $primary-font-inverse-color;
}


.lessons-card-columnssssss .card {

  @include media-breakpoint-up(xs) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(sm) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(md) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(lg) {
    max-width: 20rem;
  }
  @include media-breakpoint-only(xl) {
    max-width: 20rem;
  }
}

.card-footer {
  background-color: $primary-fill-color;
}

.better-u-card-deck {
  width: auto;
}


.card-deck > .card {
  width: auto;
}


/**
 * Videos
 */

#videos {

}

.videos-card-group {
  max-width: 80%;
}


.faYoutubePlayIcon {
  font-size: 5rem;
}

/////////////////////////////////////////////////
// footer styles /////////////////////////////////////////////////
/////////////////////////////////////////////////






//////////////////////////////////////////
// UNUSED
//////////////////////////////////////////


.uga-snap-ed-address {
  width: 20rem;
  text-align: center;
}