<%
  current_letter = "a"
  current_letter_index = 0
%>

<% @glossary_terms.each do |term| %>

  <%
    current_letter_index = ("a".."z").to_a.join.index(current_letter)
    current_term_index = ("a".."z").to_a.join.index(term.name.first)

    while (current_letter_index <= current_term_index)
  %>
    <a id="<%= current_letter.upcase %>"/>
  <%
    current_letter = ("a".."z").to_a[current_letter_index+1]
    current_letter_index = ("a".."z").to_a.join.index(current_letter)
    end
  %>

  <div class="d-flex justify-content-center">
    <%= render partial: "glossary_terms/glossary_card", locals: {term: term, css: 'w-100 mb-3'} %>
  </div>

<% end %>

<%
  while (current_letter_index < ("a".."z").to_a.size)
    current_letter = ("a".."z").to_a[current_letter_index]
    if(current_letter)
%><a id="<%= current_letter.upcase %>"/><%
  end
  current_letter_index += 1
  end
%>