<div class="footer">
  <div class="d-flex flex-row">
    <div class="p-2">
      <div class="card">
        <div class="card-block uga-snap-ed-address mx-auto">
          <h3>Contact Us</h3>
          <address>
            <h4>UGA SNAP-Ed</h4>
            Barrow Hall<br>
            115 DW Brooks Dr<br>
            Athens, Georgia 30602<br>
            PHONE: 706.542.6117<br>
            EMAIL: <a href = "mailto:#">foodtalk@uga.edu</a>
          </address>
        </div>
      </div>
    </div>
    <div class="p-2">
      <p class="footer-slogan-title">Thank You for visiting FoodTalk.org!</p>
      <p class="lead footer-slogan-copy mx-auto">
        On this website you will find recipes, cooking videos, educational games and lessons, and plenty of resources to help you make healthy food and physical activity choices for your whole family as well as Online and Instructor Lead Learning as part of Supplemental Nutrition Assistance Program Education. Portions of this website may be restricted due to SNAP-Ed eligibility.
      </p>
    </div>
  </div>
  <%= render :partial => "layouts/footer-nav" %>
</div>
