<div class="d-flex justify-content-center">
  <div class="p-2">
        <span class="float-right">
       <%=image_tag 'logo.png' %>
    </span>
  </div>
  <div class="p-2 hidden-xs">
    <%=image_tag 'stateofga.gif' %><span class="slogan-title">Helping Georgians Eat Healthy & Get Moving</span>
    <span class="slogan-copy">FoodTalk.org has been made especially for Georgians who want FREE ideas on how to keep their families healthy by making nutritious food choices on a budget!</span>
  </div>
  <div class="p-2 hidden-xs">
    <%=image_tag 'uga-extension-logo.png' %>
    <br>
    <span class="slogan-copy">This website and learning environment is produced by The University of Georgia</span>
  </div>
</div>
