<div class="d-flex flex-row justify-content-center hero">

  <div class="d-flex">
    <%=image_tag 'logo.png', class: 'foodtalk-logo', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
  </div>

  <div class="media">
    <div class="media-body">
      <p class="slogan-title">Helping Georgians Eat Healthy & Get Moving!</p>
      <p class="slogan-copy">
        FoodTalk.org has been made especially for Georgians who want FREE ideas on how to keep their families healthy by making nutritious food choices on a budget!
      </p>
    </div>
  </div>

</div>