<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler1">
    <a class="navbar-brand" href="#">Site Navigation</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Food Glossary</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Learn Online
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Lesson 1</a>
          <a class="dropdown-item" href="#">Lesson 2</a>
          <a class="dropdown-item" href="#">Lesson 3</a>
          <a class="dropdown-item" href="#">Lesson 4</a>
          <a class="dropdown-item" href="#">Lesson 5</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
