<nav id="nav-top" class="navbar navbar-toggleable-sm navbar-light sticky-top top-nav" role="navigation">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="#" class="navbar-brand ">
    <% image_tag 'logo-sm.png', class: '', alt: "FoodTalk.org: Helping Georgians Eat Healthy & Get Moving" %>
  </a>

  <div class="collapse navbar-collapse" id="navbarToggler1">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#lessons">Learn Online</a></li>
      <li class="nav-item"><a class="nav-link" href="#recipes">Recipes</a></li>
      <li class="nav-item"><a class="nav-link" href="#newsletter">Newsletter</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Food Glossary</a></li>


  <%
    user_signed_in = false;

    if user_signed_in %>

      <li class="nav-item">
        <a class="nav-link" href="#"><%=fa_icon("user")%> My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>


  <% else %>

      <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Sign in <b class="caret"></b></a>
        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
          <li>
            <div class="row">
              <div class="col-md-12">
                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
            <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
          </li>
        </ul>
      </li>

  <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon 'search' %>
        </a>
        <div class="dropdown-menu search-box" aria-labelledby="navbarDropdownMenuLink">

          <form class="form-inline">

            <label class="sr-only" for="searchInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchInput" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </li>

    </ul>

  </div>
</nav>
