<div class="row">
  <div class="col">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle top navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="http://www.uga.edu" target="_blank">
        <%=image_tag "uga-hat.png" %> University of Georgia
      </a>
      <div class="collapse navbar-collapse" id="topNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-item nav-link" href="http://www.fcs.uga.edu/" target="_blank">COLLEGE OF FAMILY AND CONSUMER SCIENCES</a>
          </li>
        </ul>
        <span class="navbar-text"><a href="#"><%=fa_icon("user")%> Log In</a></span>
      </div>
    </nav>
  </div>
</div>
