<% content_for :content do %>

  <div id="dashboard">
    <%= render :partial => 'layouts/top-nav', :locals => { :fixed_top => false } %>
    <%= yield %>
    <%= render :partial => 'layouts/footer', :locals => { :fixed_bottom => true } %>
  </div>

<% end %>
<%= render template: 'layouts/application' %>